<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Admin">
	<resultMap type="Access" id="accessResultSet">
		<result property="accessGroupNo" column="ACCESSGROUP_NO"/>
		<result property="accessName" column="ACCESS_NAME"/>
		<result property="aContent" column="A_CONTENT"/>
		<result property="Status" column="STATUS"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
	</resultMap>
	
	<resultMap type="DepartMent" id="departResultSet">
		<id property="deptNo" column="DEPT_NO"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="highDept" column="HIGH_DEPT"/>
		<result property="deptLevle" column="DEPT_LEVEL"/>
	</resultMap>
	<resultMap type="DeptMember" id="deptMemberResultSet">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="memberType" column="MEMBER_TYPE"/>
		<result property="rankNo" column="RANK_NAME"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<resultMap type="SelectAccessMember" id="selectAccessResultSet">
		<id property="accessNo" column="ACCESSGROUP_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="memberType" column="MEMBER_TYPE"/>
		<result property="rankName" column="RANK_NAME"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<insert id="insertAccessGroup" parameterType="Access">
		INSERT INTO ACCESSGROUP
		VALUES('A'|| TO_CHAR(SEQ_ACG_NO.NEXTVAL, 'FM000'), #{accessName}, #{aContent},SYSDATE, SYSDATE, 'Y')
	</insert>
	
	<select id="selectAll" resultMap="accessResultSet" >
		SELECT ACCESSGROUP_NO
			  ,ACCESS_NAME
			  ,A_CONTENT
			  ,STATUS
			  ,CREATE_DATE
			  ,MODIFY_DATE
		FROM ACCESSGROUP	  
	</select>
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM ACCESSGROUP
	</select>
	
	<select id="searchAccess" resultMap="accessResultSet">
		SELECT ACCESSGROUP_NO
			  ,ACCESS_NAME
			  ,A_CONTENT
			  ,STATUS
			  ,CREATE_DATE
			  ,MODIFY_DATE
		FROM ACCESSGROUP	
		WHERE 1 = 1
		<!-- <if test="title != null"> -->
			AND ACCESS_NAME LIKE '%' || #{accessName} || '%'
		<!-- </if> -->
		<!-- <if test="writer != null">
			AND USER_NAME = #{writer}
		</if>
		<if test="content != null">
			AND BCONTENT LIKE '%' || #{content} || '%'
		</if> -->
	</select>
	
	<select id="departSelectAll" resultMap="departResultSet">
		SELECT DEPT_NO
			  ,DEPT_NAME
			  ,HIGH_DEPT
			  ,DEPT_LEVEL
		FROM DEPT	
		ORDER BY 1   
	</select>
	
	<select id="deptSelectOne" parameterType="DepartMent" resultMap="departResultSet">
		SELECT D.DEPT_NO
			  ,D.DEPT_NAME
			  ,E.DEPT_NAME AS HIGH_DEPT
			  ,D.DEPT_LEVEL
		FROM DEPT D	
        JOIN DEPT E ON(D.HIGH_DEPT = E.DEPT_NO)
		WHERE D.DEPT_NAME = #{deptName}
	</select>
	
	<select id="selectTeam" resultMap="departResultSet">
		SELECT DEPT_NO
			  ,DEPT_NAME
			  ,HIGH_DEPT
			  ,DEPT_LEVEL
		FROM DEPT
		WHERE HIGH_DEPT = #{deptNo}	  
	</select>
	
	<select id="accessSelectOne" parameterType="Access" resultMap="accessResultSet">
		SELECT ACCESSGROUP_NO
			  ,ACCESS_NAME
			  ,A_CONTENT
			  ,STATUS
			  ,CREATE_DATE
			  ,MODIFY_DATE
		FROM ACCESSGROUP
		WHERE ACCESS_NAME = #{accessName}
	</select>
	
	<select id="searchDeptMember" parameterType="DepartMent" resultMap="deptMemberResultSet">
		SELECT M.MEMBER_NO
		      ,M.MEMBER_ID
		      ,M.MEMBER_NAME
		      ,M.PHONE
		      ,M.EMAIL
		      ,M.MEMBER_TYPE
		      ,R.RANK_NAME
		      ,D.DEPT_NAME
		      ,M.ENROLL_DATE
		      ,M.MODIFY_DATE
		      ,M.STATUS
		FROM MEMBER M
		JOIN DEPT D ON(M.DEPT_NO = D.DEPT_NO)
		JOIN RANK R ON(M.RANK_NO = R.RANK_NO)
		WHERE D.DEPT_NAME LIKE #{deptName}
	</select>
	
	<insert id="insertAccessMember" parameterType="java.util.Map">
 		<foreach item="item" collection="list" open="INSERT ALL" close="SELECT * FROM DUAL">
			INTO ACCESS_MEMBER(ACCESSGROUP_NO, MEMBER_NO)
				VALUES (#{item.accessNo}, #{item.memberNo})
	</foreach>
	</insert>
	
	<select id="selectAccessMember" parameterType="AccessMember" resultType="java.lang.String">
		SELECT MEMBER_NO
		FROM ACCESS_MEMBER
		WHERE ACCESSGROUP_NO = #{accessNo}
	</select>
	
	<select id="selectAccessMemberList" parameterType="Access" resultMap="selectAccessResultSet">
		SELECT A.ACCESSGROUP_NO
	       	  ,M.MEMBER_NO
	      	  ,M.MEMBER_ID
	      	  ,M.MEMBER_NAME
	      	  ,M.PHONE
	      	  ,M.EMAIL
	      	  ,M.MEMBER_TYPE
	      	  ,R.RANK_NAME
	      	  ,D.DEPT_NAME
	      	  ,M.ENROLL_DATE
	      	  ,M.MODIFY_DATE
	      	  ,M.STATUS    
	   FROM ACCESSGROUP A
	   JOIN ACCESS_MEMBER C ON(A.ACCESSGROUP_NO = C.ACCESSGROUP_NO)
	   JOIN MEMBER M ON(M.MEMBER_NO = C.MEMBER_NO)
	   JOIN DEPT D ON(M.DEPT_NO = D.DEPT_NO)
	   JOIN RANK R ON(R.RANK_NO = M.RANK_NO)
	   WHERE A.ACCESS_NAME = #{accessName}		  		
	</select>
	
</mapper>










  