<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Attachment">

	<resultMap type="Attachment" id="attachmentResultSet">
		<id property="atNo" column="AT_NO"/>
		<result property="division" column="DIVISION"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILEPATH"/>
		<result property="ext" column="EXT"/>
	</resultMap>
	
	
	<insert id="insertAttach" parameterType="Attachment">
		INSERT INTO ATTACHMENT 
		VALUES('AT'|| TO_CHAR(SEQ_AT_NO.NEXTVAL, 'FM000'), #{division}, #{originName}, #{changeName} , #{filePath}, #{ext})
	</insert>
	
	<select id="selectCurrval"  resultType="java.lang.String" parameterType="java.lang.String">
		SELECT SEQ_AT_NO.CURRVAL FROM DUAL
	</select>
	
	<select id="selectAttach" resultMap="attachmentResultSet" parameterType="Attachment">
		SELECT *
		FROM ATTACHMENT
		WHERE DIVISION = #{division}
	</select>
	
	<select id="downAttach" resultMap="attachmentResultSet" parameterType="java.lang.String">
		SELECT *
		FROM ATTACHMENT
		WHERE AT_NO = #{no}
	</select>
	
	<update id="attachUpdate" parameterType="Attachment">
		UPDATE NOTICE SET ORIGIN_NAME = #{originName} , CHANGE_NAME = #{changeName} , FILEPATH = #{filePath} , EXT = #{ext}
		WHERE DIVISION = #{division}
	</update>
	
</mapper>















  