<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InfoBoard">
	
	<resultMap type="InfoBoard" id="boardResultSet">
		<id property="boardNo" column="INFO_PK"/>
		<result property="boardTitle" column="TITLE"/>
		<result property="boardContent" column="CONTENT"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="EDIT_DATE"/>
		<result property="viewCount" column="VIEW_COUNT"/>
		<result property="memberNo" column="MEMBER_PK"/>
		<result property="status" column="STATUS"/>
	</resultMap>

	<resultMap type="InfoBoard" id="boardResultSet2">
		<id property="boardNo" column="INFO_PK"/>
		<result property="boardTitle" column="TITLE"/>
		<result property="boardContent" column="CONTENT"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="EDIT_DATE"/>
		<result property="viewCount" column="VIEW_COUNT"/>
		<result property="memberNo" column="MEMBER_PK"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="status" column="STATUS"/>
	</resultMap>	
	
	<resultMap type="BoReply" id="replyResultSet">
		<id property="replyNo" column="REPLY_NO"/>
		<result property="replyContent" column="REPLY_CONTENT"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="forumNo" column="FORUM_NO"/>
	</resultMap>
	
	
	
	
	<insert id="insertBoard" parameterType="InfoBoard">
		INSERT INTO INFO_TABLE
		VALUES('BO'|| TO_CHAR(SEQ_INFO.NEXTVAL, 'FM000'), #{boardTitle}, #{boardContent}, SYSDATE, SYSDATE, #{memberNo}, 'Y', 0)
	</insert>
	
	<select id="selectCurrval" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT SEQ_INFO.CURRVAL
		FROM DUAL
	</select>

	<select id="boardListCount" resultType="_int">
		SELECT COUNT(*)
		FROM INFO_TABLE
	</select>
	
	<select id="boardSelectAll" resultMap="boardResultSet2">
		SELECT I.INFO_PK
		      ,I.TITLE
		      ,I.CONTENT
		      ,I.CREATE_DATE
		      ,I.EDIT_DATE
		      ,I.VIEW_COUNT
		      ,M.MEMBER_NAME
		FROM INFO_TABLE I
		JOIN MEMBER M ON(M.MEMBER_NO = I.MEMBER_PK)
		WHERE I.STATUS = 'Y'
		ORDER BY INFO_PK DESC
	</select>
	
	<select id="selectOneBoard" resultMap="boardResultSet2" parameterType="InfoBoard">
		SELECT I.INFO_PK
		      ,I.TITLE
		      ,I.CONTENT
		      ,I.CREATE_DATE
		      ,I.EDIT_DATE
		      ,I.VIEW_COUNT
		      ,M.MEMBER_NAME
		FROM INFO_TABLE I
		JOIN MEMBER M ON(M.MEMBER_NO = I.MEMBER_PK)
		WHERE INFO_PK = #{boardNo}
	</select>

	<update id="countPlus" parameterType="InfoBoard">
		UPDATE INFO_TABLE
		SET VIEW_COUNT = #{viewCount} + 1
		WHERE INFO_PK = #{boardNo}
	</update>
	
	<!-- 게시물 수정 -->
	<update id="updateBoard" parameterType="InfoBoard">
		UPDATE INFO_TABLE
		SET (TITLE, CONTENT, EDIT_DATE) = (SELECT #{boardTitle}, #{boardContent}, SYSDATE
										   FROM INFO_TABLE
										   WHERE INFO_PK = #{boardNo})
		WHERE INFO_PK = #{boardNo}
	</update>
	
	
	<!-- 댓글등록 -->
	<insert id="insertReply" parameterType="BoReply">
		INSERT INTO REPLY
		VALUES('BORE'|| TO_CHAR(SEQ_REPLY.NEXTVAL, 'FM000'), #{replyContent}, SYSDATE, SYSDATE, 'Y', #{memberNo}, #{forumNo})
	</insert>
	
	<!-- 댓글조회 -->
	<select id="selectAllReply" resultMap="replyResultSet" parameterType="InfoBoard">
		SELECT M.MEMBER_NAME
			  ,R.REPLY_NO
		      ,R.REPLY_CONTENT
		      ,R.CREATE_DATE
		FROM REPLY R
		JOIN MEMBER M ON(M.MEMBER_NO = R.MEMBER_NO)
		WHERE R.FORUM_NO = #{boardNo}
		AND R.STATUS = 'Y'
		ORDER BY R.REPLY_NO ASC
	</select>
	
	<!-- 게시글 삭제 -->
	<update id="deleteBoard" parameterType="java.lang.String">
		UPDATE INFO_TABLE
		SET STATUS = 'N'
		WHERE INFO_PK = #{boardNo}
	</update>
	
	<!-- 댓글 삭제 -->
	<update id="deleteReply" parameterType="java.lang.String">
		UPDATE REPLY
		SET STATUS = 'N'
		WHERE REPLY_NO = #{replyNo}
	</update>
	
	<update id="updateReply" parameterType="BoReply">
		UPDATE REPLY
		SET (REPLY_CONTENT, MODIFY_DATE) = (SELECT #{replyContent}, SYSDATE
									 		FROM REPLY
									  		WHERE REPLY_NO = #{replyNo})
		WHERE REPLY_NO = #{replyNo}
	</update>

</mapper>









