<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GeneralWork">
	<resultMap type="GeneralWork" id="generalWorkResultSet">
		<id property="gwNo" column="GW_NO"/>
		<result property="gwName" column="GW_NAME"/>
		<result property="beginDate" column="BEGIN_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="gwMemo" column="GW_MEMO"/>
		<result property="gwType" column="GW_TYPE"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<resultMap type="Attachment" id="attachmentResultSet">
		<id property="atNo" column="AT_NO"/>
		<result property="division" column="DIVISION"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILEPATH"/>
		<result property="ext" column="EXT"/>
	</resultMap>
	
	<insert id="insertGeneralWork" parameterType="GeneralWork">
		INSERT INTO GENERAL_WORK VALUES('GW'|| TO_CHAR(SEQ_GWNO.NEXTVAL, 'FM000'), #{gwName}, #{beginDate}, #{endDate}, SYSDATE, #{gwMemo}, #{gwType}, #{memberNo}, DEFAULT)
	</insert>
	
	<select id="selectInsertGeneralWork" parameterType="GeneralWork" resultMap="generalWorkResultSet">
		SELECT GW_NO
		FROM GENERAL_WORK
		WHERE MEMBER_NO = #{memberNo}
		AND GW_NAME = #{gwName}
		AND GW_MEMO = #{gwMemo}
		AND END_DATE = #{endDate}
	</select>
	
	<insert id="insertGeneralWorkAttachment" parameterType="Attachment">
		INSERT INTO ATTACHMENT
		VALUES('AT'|| TO_CHAR(SEQ_AT_NO.NEXTVAL, 'FM000'), #{division}, #{originName}, #{changeName} , #{filePath}, #{ext})
	</insert>
	
	<select id="getListCount" parameterType="Member" resultType="_int">
		SELECT COUNT(*)
		FROM GENERAL_WORK
		WHERE STATUS = 'Y'	
		AND MEMBER_NO = #{memberNo}
	</select>
	
	<select id="generalWorkSelectAll" parameterType="Member" resultMap="generalWorkResultSet">
		SELECT GW_NO
			  ,GW_NAME
			  ,BEGIN_DATE
			  ,END_DATE
			  ,ENROLL_DATE
			  ,GW_MEMO
			  ,GW_TYPE
			  ,MEMBER_NO
			  ,STATUS
		FROM GENERAL_WORK
		WHERE STATUS = 'Y'
		AND MEMBER_NO = #{memberNo}
		ORDER BY 5 DESC
	</select>
	
	<select id="selectOneGeneralWork" parameterType="GeneralWork" resultMap="generalWorkResultSet">
		SELECT GW_NO
			  ,GW_NAME
			  ,BEGIN_DATE
			  ,END_DATE
			  ,ENROLL_DATE
			  ,GW_MEMO
			  ,GW_TYPE
			  ,MEMBER_NO
			  ,STATUS
		FROM GENERAL_WORK
		WHERE STATUS = 'Y'
		AND GW_NO = #{gwNo}
		ORDER BY 5 DESC
	</select>
	
	<select id="attachmentList" parameterType="GeneralWork" resultMap="attachmentResultSet">
		SELECT *
		FROM ATTACHMENT
		WHERE DIVISION = #{gwNo}
	</select>
	
	<update id="deleteGeneralWork" parameterType="GeneralWork">
		UPDATE GENERAL_WORK SET STATUS='N'
		WHERE GW_NO = #{gwNo}
	</update>
	
	<delete id="deleteAttachment" parameterType="GeneralWork">
		DELETE FROM ATTACHMENT
		WHERE DIVISION = #{gwNo}
	</delete>
	
	<select id="selectOneAttachment" parameterType="Attachment" resultMap="attachmentResultSet">
		SELECT *
		FROM ATTACHMENT
		WHERE AT_NO = #{atNo}
	</select>
	
	<select id="selectAllAttachment" parameterType="GeneralWork" resultMap="attachmentResultSet">
		SELECT *
		FROM ATTACHMENT
		WHERE DIVISION = #{gwNo}
	</select>
</mapper>










  