<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GWork">

	<resultMap type="GWork" id="gWorkResultSet">
		<id property="gwNo" column="GW_NO"/>
		<result property="gwName" column="GW_NAME"/>
		<result property="beginDate" column="BEGIN_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="gwMemo" column="GW_MEMO"/>
		<result property="gwType" column="GW_TYPE"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="status" column="STATUS"/>
		<result property="to" column="TT"/>
		<result property="to2" column="TTT"/>
		<result property="repeatStatus" column="REPEAT_STATUS"/>
	</resultMap>
	
	<resultMap type="GWork" id="gWorkResultSet2">
		<id property="gwNo" column="GW_NO"/>
		<result property="gwName" column="GW_NAME"/>
		<result property="beginDate" column="BEGIN_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="gwMemo" column="GW_MEMO"/>
		<result property="gwType" column="GW_TYPE"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="status" column="STATUS"/>
		<result property="to" column="TT"/>
		<result property="to2" column="TTT"/>
		<result property="repeatStatus" column="REPEAT_STATUS"/>
		<collection property="gwRepeat" resultMap="gwrRepeatResultSet"/>
	</resultMap>
	
	<resultMap type="GwRepeat" id="gwrRepeatResultSet">
		<id property="gwrNo" column="GWR_NO"/>
		<result property="gwNo" column="GW_NO"/>
		<result property="gwrCycle" column="GWR_CYCLE"/>
		<result property="gwrLimit" column="GWR_LIMIT"/>
		<result property="gwrWeek" column="GWR_WEEK"/>
		<result property="gwrMonth" column="GWR_MONTH"/>
		<result property="endOption" column="END_OPTION"/>
		<result property="endOptionDay" column="END_OPTION_DAY"/>
		<result property="endOptionCount" column="END_OPTION_COUNT"/>
	</resultMap>
	
	<resultMap id="projectResultSet" type="Project">
        <id property="projectPk" column="project_pk"/>
        <result property="projectName" column="project_name"/>
        <result property="isImportant" column="is_important"/>
        <result property="projectTypePk" column="project_type_pk"/>
        <result property="projectRank" column="project_rank"/>
        <result property="projectManager" column="project_manager"/>
        <result property="deptNo" column="dept_no"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="detail" column="detail"/>
        <result property="remarks" column="remarks"/>
        <result property="status" column="status"/>
        <result property="templatePk" column="template_pk"/>
    </resultMap>
    
    <resultMap type="Statistics" id="statisticsResultSet">
    	<result property="wStatus" column="STATUS" />
    	<result property="issueType" column="ISSUE_TYPE" />
    	<result property="hStatus" column="STATUS" />
    	<result property="cnt" column="CNT" />
    	<result property="cnt2" column="CNT2" />
    	<result property="cnt3" column="CNT3" />
    </resultMap>
    
    <resultMap type="Mwork" id="mWorkResultSet">
		<id property="workNo" column="WORK_NO"/>
		<result property="workName" column="WORK_NAME"/>
		<result property="status" column="STATUS"/>
		<result property="projectNo" column="PROJECT_NO"/>
		<result property="beginDate" column="BEGIN_DATE"/>
		<result property="completeDate" column="COMPLETE_DATE"/>
		<result property="precedeNo" column="PRECEDE_NO"/>
		<result property="completeRate" column="COMPLETE_RATE"/>
		<result property="grantorNo" column="GRANTOR_NO"/>
		<result property="workLevel" column="WORK_LEVEL"/>
		<result property="highWorkNo" column="HIGH_WORK_NO"/>
		<result property="memo" column="MEMO"/>
		<result property="workType" column="WORK_TYPE"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="workStatus" column="WORK_STATUS"/>
		<result property="memberName" column="MEMBER_NAME"/>		
	</resultMap>
	
	
	<select id="selectAllList" resultMap="gWorkResultSet">
		SELECT GW_NO, GW_NAME,BEGIN_DATE,TO_CHAR(BEGIN_DATE, 'YYYY/MM/DD HH24:MI') AS TT, TO_CHAR(END_DATE, 'YYYY/MM/DD HH24:MI') AS TTT,END_DATE,ENROLL_DATE,GW_MEMO,GW_TYPE,MEMBER_NO,STATUS
		FROM GENERAL_WORK
		WHERE STATUS = 'Y'
		AND MEMBER_NO = #{memberNo}
	</select>
	
	<select id="selectAllList2" resultMap="gWorkResultSet2">
		SELECT G.GW_NO, G.GW_NAME,G.BEGIN_DATE,TO_CHAR(BEGIN_DATE, 'YYYY/MM/DD HH24:MI') AS TT, TO_CHAR(END_DATE, 'YYYY/MM/DD HH24:MI') AS TTT,G.END_DATE,G.ENROLL_DATE,G.GW_MEMO,G.GW_TYPE,G.MEMBER_NO,G.STATUS
        ,REPEAT_STATUS,GR.GWR_CYCLE, GWR_NO, GWR_LIMIT,GWR_WEEK,GWR_MONTH, END_OPTION, END_OPTION_DAY, END_OPTION_COUNT
		FROM GENERAL_WORK G
        LEFT JOIN GW_REPEAT GR ON(G.GW_NO = GR.GW_NO) 
		WHERE STATUS = 'Y'
		AND MEMBER_NO = #{memberNo}
	</select>
	
	
	<insert id="insertGw" parameterType="GWork">
		INSERT INTO GENERAL_WORK
		VALUES('GW'|| TO_CHAR(SEQ_GWNO.NEXTVAL, 'FM000'), #{gwName},  to_date(#{status},'YYYY/MM/DD HH24:MI'),  to_date(#{to},'YYYY/MM/DD HH24:MI'), SYSDATE, #{gwMemo}, #{gwType}, #{memberNo}, DEFAULT , #{repeatStatus})
	</insert>
	
	<update id="updateGw" parameterType="GWork">
		UPDATE GENERAL_WORK SET GW_NAME = #{gwName} , BEGIN_DATE = to_date(#{status},'YYYY/MM/DD HH24:MI'),  END_DATE = to_date(#{to},'YYYY/MM/DD HH24:MI')
		, ENROLL_DATE = SYSDATE , GW_MEMO = #{gwMemo}, GW_TYPE = #{gwType} 
		WHERE GW_NO = #{gwNo}
	</update>
	
	<update id="deleteGw" parameterType="GWork">
		UPDATE GENERAL_WORK SET STATUS = 'N'
		WHERE GW_NO = #{gwNo}
	</update>
	
	<select id="selectCurrval"  resultType="java.lang.String" parameterType="java.lang.String">
		SELECT SEQ_GWNO.CURRVAL FROM DUAL
	</select>
	
	<insert id="insertGwRepeat" parameterType="GwRepeat">
		INSERT INTO GW_REPEAT
		VALUES('GWR'|| TO_CHAR(SEQ_GWR.NEXTVAL, 'FM000'), #{gwNo}, #{gwrCycle}, #{gwrLimit}, #{gwrWeek}, #{gwrMonth}, #{endOption} ,#{endOptionDay}, #{endOptionCount})
	</insert>
	
	<select id="selectProjectList" parameterType="Member" resultMap="projectResultSet">
		SELECT PT.PROJECT_PK,P.PROJECT_NAME
		FROM PROJECT P
		LEFT JOIN PROJECT_TEAM PT ON(P.PROJECT_PK = PT.PROJECT_PK)
		LEFT JOIN MEMBER M ON(PT.MEMBER_PK = M.MEMBER_NO)
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<select id="selectProject" parameterType="java.lang.String" resultMap="projectResultSet">
		SELECT * 
		FROM PROJECT P 
		WHERE PROJECT_PK = #{pNo}
	</select>
	
	<select id="statisticsList" parameterType="java.lang.String" resultMap="statisticsResultSet" >
		SELECT STATUS, COUNT(*) AS CNT 
		FROM WORK 
		WHERE PROJECT_NO = #{pNo}
        AND WORK_TYPE = '프로젝트'
		GROUP BY STATUS
	</select>
	
	<select id="statisticList2" parameterType="java.lang.String" resultMap="statisticsResultSet" >
		SELECT ISSUE_TYPE, COUNT(*) AS CNT2 
		FROM ISSUE 
		WHERE PROJECT_NO = #{pNo}
		GROUP BY ISSUE_TYPE
	</select>
	
	<select id="selectListWork" parameterType="Mwork" resultMap="mWorkResultSet">
		SELECT M.MEMBER_NAME, WORK_NAME , BEGIN_DATE, COMPLETE_DATE, MEMO
		FROM PROJECT P 
		JOIN PROJECT_TEAM PT ON(PT.PROJECT_PK = P.PROJECT_PK)
		JOIN MEMBER M ON(PT.MEMBER_PK = M.MEMBER_NO)
		LEFT JOIN (SELECT *
         		  FROM WORK
          		 WHERE PROJECT_NO=#{projectNo}) W ON(W.MEMBER_NO = PT.MEMBER_PK)
		WHERE P.PROJECT_PK = #{projectNo}
	</select>
	
	<select id="statisticList3" parameterType="java.lang.String" resultMap="statisticsResultSet">
		SELECT CR.STATUS ,  COUNT(*) AS cnt3
		FROM CHANGE_REQUEST_HISTORY CR
		WHERE CHANGE_NO IN
		(SELECT MEMBER_NO
		FROM MEMBER M
		JOIN PROJECT_TEAM PT ON(M.MEMBER_NO = PT.MEMBER_PK)
		WHERE PROJECT_PK = #{pNo})
		GROUP BY STATUS
	</select>
		
</mapper>
