<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Issue">
	<resultMap type="IssueWPT" id="selectIssueTeamProject">
		<id property="teamPk" column="TEAM_PK"/>
		<result property="projectPk" column="PROJECT_PK"/>
		<result property="memberPk" column="MEMBER_PK"/>
		<result property="role" column="ROLE"/>
		<result property="projectName" column="PROJECT_NAME"/>
	</resultMap>
	
	<resultMap type="IssueWork" id="selectIssueWorkList">
		<id property="workNo" column="WORK_NO"/>
		<result property="workName" column="WORK_NAME"/>
	</resultMap>
	
	<resultMap type="IssueProjectTeam" id="selectIssueTeamList">
		<id property="teamPk" column="TEAM_PK"/>
		<result property="projectPk" column="PROJECT_PK"/>
		<result property="memberPk" column="MEMBER_PK"/>
		<result property="role" column="ROLE"/>
		<result property="memberName" column="MEMBER_NAME"/>
	</resultMap>
	
	
	<resultMap type="Issue" id="selectIssueList">
		<id property="issueNo" column="ISSUE_NO"/>
		<result property="issueType" column="ISSUE_TYPE"/>
		<result property="issueTitle" column="ISSUE_TITLE"/>
		<result property="issueContent" column="ISSUE_CONTENT"/>
		<result property="registerType" column="REGISTER_TYPE"/>
		<result property="workNo" column="WORK_NO"/>
		<result property="teamWorker" column="TEAMWORKER"/>
		<result property="registerDate" column="REGISTER_DATE"/>
		<result property="projectNo" column="PROJECT_NO"/>
		<result property="actionDate" column="ACTION_DATE"/>
	</resultMap>
	
	<resultMap type="IssueList" id="selectIssueList2">
		<id property="issueNo" column="ISSUE_NO"/>
		<result property="projectName" column="PROJECT_NAME"/>
		<result property="workName" column="WORK_NAME"/>
		<result property="issueTitle" column="ISSUE_TITLE"/>
		<result property="registerDate" column="REGISTER_DATE"/>
		<result property="issueType" column="ISSUE_TYPE"/>
		<result property="registerName" column="REGISTER_NAME"/>
		<result property="status" column="STATUS"/>
		<result property="teamWorkerName" column="TEAMWORKER_NAME"/>
		<result property="actionDate" column="ACTION_DATE"/>
		<result property="ihDate" column="IH_DATE"/>
	</resultMap>
	
	<resultMap type="IssueList" id="selectIssueOne">
		<id property="issueNo" column="ISSUE_NO"/>
		<result property="projectNo" column="PROJECT_NO"/>
		<result property="projectName" column="PROJECT_NAME"/>
		<result property="workName" column="WORK_NAME"/>
		<result property="issueTitle" column="ISSUE_TITLE"/>
		<result property="issueContent" column="ISSUE_CONTENT"/>
		<result property="registerDate" column="REGISTER_DATE"/>
		<result property="issueType" column="ISSUE_TYPE"/>
		<result property="registerType" column="REGISTER_TYPE"/>
		<result property="registerName" column="REGISTER_NAME"/>
		<result property="status" column="STATUS"/>
		<result property="teamWorker" column="TEAMWORKER"/>
		<result property="teamWorkerName" column="TEAMWORKER_NAME"/>
		<result property="actionDate" column="ACTION_DATE"/>
		<result property="ihDate" column="IH_DATE"/> 
		<result property="ihContent" column="IH_CONTENT"/> 
	</resultMap>
	
	<resultMap type="Attachment" id="attachmentResultSet">
		<id property="atNo" column="AT_NO"/>
		<result property="division" column="DIVISION"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILEPATH"/>
		<result property="ext" column="EXT"/>
	</resultMap>


	<select id="selectProjectName" parameterType="Member" resultMap="selectIssueTeamProject">
		SELECT PT.TEAM_PK, PT.PROJECT_PK, PT.MEMBER_PK, PT.ROLE, P.PROJECT_NAME
		FROM PROJECT_TEAM PT
		JOIN PROJECT P ON (P.PROJECT_PK = PT.PROJECT_PK)
		WHERE PT.MEMBER_PK = #{memberNo}
	</select>
	
	
	<select id="selectWorkList" parameterType="java.lang.String" resultMap="selectIssueWorkList">
		SELECT *
		FROM WORK
		WHERE PROJECT_NO = #{pno}
	</select>
	
	<select id="selectProjectTeamList" parameterType="java.lang.String" resultMap="selectIssueTeamList">
		SELECT PT.TEAM_PK, PT.PROJECT_PK, PT.MEMBER_PK, PT.ROLE, M.MEMBER_NAME
		FROM PROJECT_TEAM PT
		JOIN MEMBER M ON (PT.MEMBER_PK = M.MEMBER_NO)
		WHERE PT.PROJECT_PK = #{pno}
	</select>
	
	<insert id="insertIssue" parameterType="Issue">
		INSERT INTO ISSUE
		VALUES('I' || TO_CHAR(SEQ_IS.NEXTVAL, 'FM000'), #{issueType}, #{issueTitle}, #{issueContent}, #{registerType}, #{workNo}, #{teamWorker}, SYSDATE, #{projectNo}, #{actionDate}, DEFAULT)
	</insert>
	
	<insert id="insertIssueAttachment" parameterType="Attachment">
		INSERT INTO ATTACHMENT
		VALUES('AT'|| TO_CHAR(SEQ_AT_NO.NEXTVAL, 'FM000'),'I' || TO_CHAR(SEQ_IS.CURRVAL, 'FM000'), #{originName}, #{changeName} , #{filePath}, #{ext})
	</insert>
	
	<select id="selectIssueList" parameterType="Member">
		SELECT *
		FROM ISSUE
	</select>
	
	<select id="selectProjectTeamList2" parameterType="Issue" resultMap="selectIssueTeamList">
		SELECT PT.TEAM_PK, PT.PROJECT_PK, PT.MEMBER_PK, PT.ROLE, M.MEMBER_NAME
		FROM PROJECT_TEAM PT
		JOIN MEMBER M ON (PT.MEMBER_PK = M.MEMBER_NO)
		WHERE PT.PROJECT_PK = #{projectNo}
	</select>
	
	<insert id="insertReportProjectTeam" parameterType="IssueProjectTeam">
		INSERT INTO REPORT
		VALUES ('RP' || TO_CHAR(SEQ_RP_NO.NEXTVAL, 'FM0000'), 'IH' || TO_CHAR(SEQ_IH_NO.CURRVAL, 'FM000'), #{memberPk}, DEFAULT)
	</insert>
	
	<insert id="insertIssueHistory" parameterType="Issue">
		INSERT INTO ISSUE_HISTORY
		VALUES ('IH' || TO_CHAR(SEQ_IH_NO.NEXTVAL, 'FM000'), 'I' || TO_CHAR(SEQ_IS.CURRVAL, 'FM000'), #{issueTitle}, SYSDATE, DEFAULT)
	</insert>
	
	<select id="selectIssueList2" parameterType="java.lang.String" resultMap="selectIssueList2">
		SELECT 
			   I.ISSUE_NO
			 , P.PROJECT_NAME
			 , W.WORK_NAME
			 , I.ISSUE_TITLE
			 , I.REGISTER_DATE
			 , I.ISSUE_TYPE
			 , M.MEMBER_NAME AS REGISTER_NAME
			 , IH.STATUS
			 , M2.MEMBER_NAME AS TEAMWORKER_NAME
			 , I.ACTION_DATE
			 , IH.IH_DATE
		FROM ISSUE I
		JOIN PROJECT P ON (I.PROJECT_NO = P.PROJECT_PK)
		JOIN WORK W ON (I.WORK_NO = W.WORK_NO)
		JOIN MEMBER M ON (I.REGISTER_TYPE = M.MEMBER_NO)
		JOIN (SELECT ISSUE_NO, STATUS, IH_DATE
              FROM ISSUE_HISTORY
              WHERE (ISSUE_NO, IH_DATE) IN 
                             (SELECT ISSUE_NO, MAX(IH_DATE)
                              FROM ISSUE_HISTORY
                              GROUP BY ISSUE_NO)) IH ON (I.ISSUE_NO = IH.ISSUE_NO)
		JOIN MEMBER M2 ON (I.TEAMWORKER = M2.MEMBER_NO)
		WHERE I.PROJECT_NO = #{pno}
		ORDER BY I.ISSUE_NO DESC
		
	</select>
	
	<select id="getListCount" parameterType="java.lang.String" resultType="_int">
		SELECT COUNT(*)
		FROM ISSUE
		WHERE PROJECT_NO = #{pno}
	</select>
	
	<select id="selectIssueOne" parameterType="java.lang.String" resultMap="selectIssueOne">
		SELECT 
			   I.ISSUE_NO
			 , I.PROJECT_NO
			 , P.PROJECT_NAME
			 , W.WORK_NAME
			 , I.ISSUE_TITLE
             , I.ISSUE_CONTENT
			 , I.REGISTER_DATE
			 , I.ISSUE_TYPE
             , I.REGISTER_TYPE
			 , M.MEMBER_NAME AS REGISTER_NAME
			 , IH.STATUS
             , I.TEAMWORKER
			 , M2.MEMBER_NAME AS TEAMWORKER_NAME
			 , I.ACTION_DATE
			 , IH.IH_DATE
			 , IH.IH_CONTENT
		FROM ISSUE I
		JOIN PROJECT P ON (I.PROJECT_NO = P.PROJECT_PK)
		JOIN WORK W ON (I.WORK_NO = W.WORK_NO)
		JOIN MEMBER M ON (I.REGISTER_TYPE = M.MEMBER_NO)
		JOIN (SELECT ISSUE_NO, STATUS, IH_DATE, IH_CONTENT
              FROM ISSUE_HISTORY
              WHERE (ISSUE_NO, IH_DATE) IN 
                             (SELECT ISSUE_NO, MAX(IH_DATE)
                              FROM ISSUE_HISTORY
                              GROUP BY ISSUE_NO)) IH ON (I.ISSUE_NO = IH.ISSUE_NO)
		JOIN MEMBER M2 ON (I.TEAMWORKER = M2.MEMBER_NO)
        WHERE I.STATUS = 'Y'
        AND I.ISSUE_NO = #{issueNo}
	</select>
	
	
	<insert id="selectIssueAgree" parameterType="java.lang.String">
		INSERT INTO ISSUE_HISTORY
		VALUES ('IH' || TO_CHAR(SEQ_IH_NO.NEXTVAL, 'FM000'), #{issueNo}, NULL, SYSDATE, '조치중')
	</insert>
	
	<insert id="insertIssueComplete" parameterType="IssueHistory">
		INSERT INTO ISSUE_HISTORY
		VALUES ('IH' || TO_CHAR(SEQ_IH_NO.NEXTVAL, 'FM000'), #{issueNo}, #{ihContent}, TO_DATE(#{dateAndTime},'YYYY/MM/DD HH24:MI:SS'), '조치완료')
	</insert>
	
	<select id="selectAttachment" resultMap="attachmentResultSet" parameterType="Attachment">
		SELECT *
		FROM ATTACHMENT
		WHERE DIVISION = #{division}
	</select>
</mapper>










  