<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Issue">
	<resultMap type="IssueWPT" id="selectIssueTeamProject">
		<id property="teamPk" column="TEAM_PK"/>
		<result property="projectPk" column="PROJECT_PK"/>
		<result property="memberPk" column="MEMBER_PK"/>
		<result property="role" column="ROLE"/>
		<result property="projectName" column="PROJECT_NAME"/>
	</resultMap>
	
	<resultMap type="IssueWork" id="selectIssueWorkList">
		<id property="workNo" column="WORK_NO"/>
		<result property="workName" column="WORK_NAME"/>
	</resultMap>
	
	<resultMap type="IssueProjectTeam" id="selectIssueTeamList">
		<id property="teamPk" column="TEAM_PK"/>
		<result property="projectPk" column="PROJECT_PK"/>
		<result property="memberPk" column="MEMBER_PK"/>
		<result property="role" column="ROLE"/>
		<result property="memberName" column="MEMBER_NAME"/>
	</resultMap>
	
	
	<resultMap type="Issue" id="selectIssueList">
		<id property="issueNo" column="ISSUE_NO"/>
		<result property="issueType" column="ISSUE_TYPE"/>
		<result property="issueTitle" column="ISSUE_TITLE"/>
		<result property="issueContent" column="ISSUE_CONTENT"/>
		<result property="registerType" column="REGISTER_TYPE"/>
		<result property="workNo" column="WORK_NO"/>
		<result property="teamWorker" column="TEAMWORKER"/>
		<result property="registerDate" column="REGISTER_DATE"/>
		<result property="projectNo" column="PROJECT_NO"/>
		<result property="actionDate" column="ACTION_DATE"/>
	</resultMap>
	
	<resultMap type="IssueList" id="selectIssueList2">
		<id property="issueNo" column="ISSUE_NO"/>
		<result property="projectName" column="PROJECT_NAME"/>
		<result property="workName" column="WORK_NAME"/>
		<result property="issueTitle" column="ISSUE_TITLE"/>
		<result property="registerDate" column="REGISTER_DATE"/>
		<result property="issueType" column="ISSUE_TYPE"/>
		<result property="registerName" column="REGISTER_NAME"/>
		<result property="status" column="STATUS"/>
		<result property="teamWorkerName" column="TEAMWORKER_NAME"/>
		<result property="actionDate" column="ACTION_DATE"/>
		<result property="ihDate" column="IH_DATE"/>
	</resultMap>
	
	<resultMap type="IssueList" id="selectIssueOne">
		<id property="issueNo" column="ISSUE_NO"/>
		<result property="projectNo" column="PROJECT_NO"/>
		<result property="projectName" column="PROJECT_NAME"/>
		<result property="workName" column="WORK_NAME"/>
		<result property="issueTitle" column="ISSUE_TITLE"/>
		<result property="issueContent" column="ISSUE_CONTENT"/>
		<result property="registerDate" column="REGISTER_DATE"/>
		<result property="issueType" column="ISSUE_TYPE"/>
		<result property="registerType" column="REGISTER_TYPE"/>
		<result property="registerName" column="REGISTER_NAME"/>
		<result property="status" column="STATUS"/>
		<result property="teamWorker" column="TEAMWORKER"/>
		<result property="teamWorkerName" column="TEAMWORKER_NAME"/>
		<result property="actionDate" column="ACTION_DATE"/>
		<result property="ihDate" column="IH_DATE"/> 
		<result property="ihContent" column="IH_CONTENT"/> 
	</resultMap>
	
	<resultMap type="Attachment" id="attachmentResultSet">
		<id property="atNo" column="AT_NO"/>
		<result property="division" column="DIVISION"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILEPATH"/>
		<result property="ext" column="EXT"/>
	</resultMap>
	
	<resultMap type="WorkProjectTeam" id="selectTeamWorkResult">
		<id property="teamPk" column="TEAM_PK"/>
		<result property="projectPk" column="PROJECT_PK"/>
		<result property="memberPk" column="MEMBER_PK"/>
		<result property="role" column="ROLE"/>
		<result property="projectName" column="PROJECT_NAME"/>
	</resultMap>

	<resultMap type="ChangeRequest" id="selectChangeRequest">
		<id property="changeNo" column="CHANGE_NO"/>
		<result property="requestTitle" column="REQUEST_TITLE"/>
		<result property="requestContent" column="REQUEST_CONTENT"/>
		<result property="requestDate" column="REQUEST_DATE"/>
		<result property="workNo" column="WORK_NO"/>
		<result property="workName" column="WORK_NAME"/>
		<result property="status" column="STATUS"/>
		<result property="projectNo" column="PROJECT_NO"/>
		<result property="projectName" column="PROJECT_Name"/>
		<result property="beginDate" column="BEGIN_DATE"/>
		<result property="completeDate" column="COMPLETE_DATE"/>
		<result property="precedeNo" column="PRECEDE_NO"/>
		<result property="completeRate" column="COMPLETE_RATE"/>
		<result property="grantorNo" column="GRANTOR_NO"/>
		<result property="workGrantorName" column="WORK_GRANTOR_NAME"/>
		<result property="workLevel" column="WORK_LEVEL"/>
		<result property="highWorkNo" column="HIGH_WORK_NO"/>
		<result property="highWorkName" column="HIGH_WORK_NAME"/>
		<result property="workType" column="WORK_TYPE"/>
		<result property="workStatus" column="WORK_STATUS"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="workMemberName" column="WORK_MEMBER_NAME"/>
		<result property="crStatus" column="CR_STATUS"/>
		<result property="crGrantor1" column="CR_GRANTOR_1"/>
		<result property="grantorName1" column="GRANTOR_NAME_1"/>
		<result property="crGrantor2" column="CR_GRANTOR_2"/>
		<result property="grantorName2" column="GRANTOR_NAME_2"/>
		<result property="crConfirm1" column="CR_CONFIRM1"/>
		<result property="crConfirm2" column="CR_CONFIRM2"/>
		<result property="registerNo" column="REGISTER_NO"/>
		<result property="registerName" column="REGISTER_NAME"/>
	</resultMap>

	
	<resultMap type="WorkAttachment" id="selectWorkAttachment">
		<id property="atNo" column="AT_NO"/>
		<result property="productNo" column="PRODUCT_NO"/>
		<result property="workNo" column="WORK_NO"/>
		<result property="productType" column="PRODUCT_TYPE"/>
		<result property="productTitle" column="PRODUCT_TITLE"/>
		<result property="productContent" column="PRODUCT_CONTENT"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILEPATH"/>
		<result property="ext" column="EXT"/>
	</resultMap>
	
	<resultMap type="Grantor" id="selectGrantorName">
		<id property="memberPk" column="MEMBER_NO"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="rankName" column="RANK_NAME"/>
	</resultMap>


	<resultMap type="Work" id="workResultSelect">
		<id property="workNo" column="WORK_NO"/>
		<result property="workName" column="WORK_NAME"/>
		<result property="status" column="STATUS"/>
		<result property="projectNo" column="PROJECT_NO"/>
		<result property="projectName" column="PROJECT_Name"/>
		<result property="beginDate" column="BEGIN_DATE"/>
		<result property="completeDate" column="COMPLETE_DATE"/>
		<result property="precedeNo" column="PRECEDE_NO"/>
		<result property="completeRate" column="COMPLETE_RATE"/>
		<result property="grantorNo" column="GRANTOR_NO"/>
		<result property="workLevel" column="WORK_LEVEL"/>
		<result property="highWorkNo" column="HIGH_WORK_NO"/>
		<result property="highWorkName" column="HIGH_WORK_NAME"/>
		<result property="memo" column="MEMO"/>
		<result property="workType" column="WORK_TYPE"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="workStatus" column="WORK_STATUS"/>
	</resultMap>

	<select id="selectProjectName" parameterType="Member" resultMap="selectIssueTeamProject">
		SELECT PT.TEAM_PK, PT.PROJECT_PK, PT.MEMBER_PK, PT.ROLE, P.PROJECT_NAME
		FROM PROJECT_TEAM PT
		JOIN PROJECT P ON (P.PROJECT_PK = PT.PROJECT_PK)
		WHERE PT.MEMBER_PK = #{memberNo}
	</select>
	
	
	<select id="selectWorkList" parameterType="hashmap" resultMap="selectIssueWorkList">
		SELECT *
		FROM WORK
		WHERE PROJECT_NO = #{pno}
		AND MEMBER_NO = #{memberNo}
		AND STATUS != 'PL승인완료'
		AND WORK_TYPE != '개인'
	</select>
	
	<select id="selectWorkTmList" parameterType="hashmap" resultMap="selectIssueWorkList">
		SELECT *
		FROM WORK
		WHERE PROJECT_NO = #{pno}
		AND MEMBER_NO = #{memberNo}
		AND STATUS NOT IN ('PL검토중', 'PL승인완료')
		AND WORK_TYPE != '개인'
	</select>
	
	<select id="selectProjectTeamList" parameterType="java.lang.String" resultMap="selectIssueTeamList">
		SELECT PT.TEAM_PK, PT.PROJECT_PK, PT.MEMBER_PK, PT.ROLE, M.MEMBER_NAME
		FROM PROJECT_TEAM PT
		JOIN MEMBER M ON (PT.MEMBER_PK = M.MEMBER_NO)
		WHERE PT.PROJECT_PK = #{pno}
	</select>
	
	<insert id="insertIssue" parameterType="Issue">
		INSERT INTO ISSUE
		VALUES('I' || TO_CHAR(SEQ_IS.NEXTVAL, 'FM000'), #{issueType}, #{issueTitle}, #{issueContent}, #{registerType}, #{workNo}, #{teamWorker}, SYSDATE, #{projectNo}, #{actionDate}, DEFAULT)
	</insert>
	
	<insert id="insertIssueAttachment" parameterType="Attachment">
		INSERT INTO ATTACHMENT
		VALUES('AT'|| TO_CHAR(SEQ_AT_NO.NEXTVAL, 'FM000'),'I' || TO_CHAR(SEQ_IS.CURRVAL, 'FM000'), #{originName}, #{changeName} , #{filePath}, #{ext})
	</insert>
	
	<select id="selectIssueList" parameterType="Member">
		SELECT *
		FROM ISSUE
	</select>
	
	<select id="selectProjectTeamList2" parameterType="Issue" resultMap="selectIssueTeamList">
		SELECT PT.TEAM_PK, PT.PROJECT_PK, PT.MEMBER_PK, PT.ROLE, M.MEMBER_NAME
		FROM PROJECT_TEAM PT
		JOIN MEMBER M ON (PT.MEMBER_PK = M.MEMBER_NO)
		WHERE PT.PROJECT_PK = #{projectNo}
	</select>
	
	<insert id="insertReportProjectTeam" parameterType="IssueProjectTeam">
		INSERT INTO REPORT
		VALUES ('RP' || TO_CHAR(SEQ_RP_NO.NEXTVAL, 'FM0000'), 'IH' || TO_CHAR(SEQ_IH_NO.CURRVAL, 'FM000'), #{memberPk}, DEFAULT, 'Y')
	</insert>
	
	<insert id="insertIssueHistory" parameterType="Issue">
		INSERT INTO ISSUE_HISTORY
		VALUES ('IH' || TO_CHAR(SEQ_IH_NO.NEXTVAL, 'FM000'), 'I' || TO_CHAR(SEQ_IS.CURRVAL, 'FM000'), #{issueTitle}, SYSDATE, DEFAULT)
	</insert>
	
	<select id="selectIssueList2" parameterType="java.lang.String" resultMap="selectIssueList2">
		SELECT 
			   I.ISSUE_NO
			 , P.PROJECT_NAME
			 , W.WORK_NAME
			 , I.ISSUE_TITLE
			 , I.REGISTER_DATE
			 , I.ISSUE_TYPE
			 , M.MEMBER_NAME AS REGISTER_NAME
			 , IH.STATUS
			 , M2.MEMBER_NAME AS TEAMWORKER_NAME
			 , I.ACTION_DATE
			 , IH.IH_DATE
		FROM ISSUE I
		JOIN PROJECT P ON (I.PROJECT_NO = P.PROJECT_PK)
		JOIN WORK W ON (I.WORK_NO = W.WORK_NO)
		JOIN MEMBER M ON (I.REGISTER_TYPE = M.MEMBER_NO)
		JOIN (SELECT ISSUE_NO, STATUS, IH_DATE
              FROM ISSUE_HISTORY
              WHERE (ISSUE_NO, IH_DATE) IN 
                             (SELECT ISSUE_NO, MAX(IH_DATE)
                              FROM ISSUE_HISTORY
                              GROUP BY ISSUE_NO)) IH ON (I.ISSUE_NO = IH.ISSUE_NO)
		JOIN MEMBER M2 ON (I.TEAMWORKER = M2.MEMBER_NO)
		WHERE I.PROJECT_NO = #{pno}
		ORDER BY I.ISSUE_NO DESC
		
	</select>
	
	<select id="getListCount" parameterType="java.lang.String" resultType="_int">
		SELECT COUNT(*)
		FROM ISSUE
		WHERE PROJECT_NO = #{pno}
	</select>
	
	<select id="selectIssueOne" parameterType="java.lang.String" resultMap="selectIssueOne">
		SELECT 
			   I.ISSUE_NO
			 , I.PROJECT_NO
			 , P.PROJECT_NAME
			 , W.WORK_NAME
			 , I.ISSUE_TITLE
             , I.ISSUE_CONTENT
			 , I.REGISTER_DATE
			 , I.ISSUE_TYPE
             , I.REGISTER_TYPE
			 , M.MEMBER_NAME AS REGISTER_NAME
			 , IH.STATUS
             , I.TEAMWORKER
			 , M2.MEMBER_NAME AS TEAMWORKER_NAME
			 , I.ACTION_DATE
			 , IH.IH_DATE
			 , IH.IH_CONTENT
		FROM ISSUE I
		JOIN PROJECT P ON (I.PROJECT_NO = P.PROJECT_PK)
		JOIN WORK W ON (I.WORK_NO = W.WORK_NO)
		JOIN MEMBER M ON (I.REGISTER_TYPE = M.MEMBER_NO)
		JOIN (SELECT ISSUE_NO, STATUS, IH_DATE, IH_CONTENT
              FROM ISSUE_HISTORY
              WHERE (ISSUE_NO, IH_DATE) IN 
                             (SELECT ISSUE_NO, MAX(IH_DATE)
                              FROM ISSUE_HISTORY
                              GROUP BY ISSUE_NO)) IH ON (I.ISSUE_NO = IH.ISSUE_NO)
		JOIN MEMBER M2 ON (I.TEAMWORKER = M2.MEMBER_NO)
        WHERE I.STATUS = 'Y'
        AND I.ISSUE_NO = #{issueNo}
	</select>
	
	
	<insert id="selectIssueAgree" parameterType="java.lang.String">
		INSERT INTO ISSUE_HISTORY
		VALUES ('IH' || TO_CHAR(SEQ_IH_NO.NEXTVAL, 'FM000'), #{issueNo}, NULL, SYSDATE, '조치중')
	</insert>
	
	<insert id="insertIssueComplete" parameterType="IssueHistory">
		INSERT INTO ISSUE_HISTORY
		VALUES ('IH' || TO_CHAR(SEQ_IH_NO.NEXTVAL, 'FM000'), #{issueNo}, #{ihContent}, #{ihDate}, '조치완료')
	</insert>
	
	<select id="selectAttachment" resultMap="attachmentResultSet" parameterType="Attachment">
		SELECT *
		FROM ATTACHMENT
		WHERE DIVISION = #{division}
	</select>
	
	
	<select id="selectTeamWork" parameterType="Member" resultMap="selectTeamWorkResult">
	SELECT PT.TEAM_PK, PT.PROJECT_PK, PT.MEMBER_PK, PT.ROLE, P.PROJECT_NAME
	FROM PROJECT_TEAM PT
	JOIN PROJECT P ON (P.PROJECT_PK = PT.PROJECT_PK)
	WHERE PT.MEMBER_PK = #{memberNo}
	</select>
	
	<insert id="insertChangeRequest" parameterType="ChangeRequest">
	INSERT INTO CHANGE_REQUEST
	VALUES ('CR' || TO_CHAR(SEQ_CR.NEXTVAL, 'FM000'), #{requestTitle}, #{requestContent}, SYSDATE, 
			#{workNo}, #{workName}, #{status}, #{projectNo}, #{beginDate}, #{completeDate}, #{precedeNo}, 
			#{completeRate}, #{grantorNo}, #{workLevel}, #{highWorkNo}, #{workType}, 'Y', #{memberNo},
			DEFAULT, #{crGrantor1}, #{crGrantor2}, DEFAULT, DEFAULT, #{registerNo})
	</insert>
	
 	<select id="selectChangeRequestList" parameterType="java.lang.String" resultMap="selectChangeRequest">
	SELECT 
		        CR.CHANGE_NO
		      , CR.REQUEST_TITLE
		      , CR.REQUEST_DATE
		      , CR.WORK_NO
		      , CR.WORK_NAME
		      , CR.STATUS
		      , CR.PROJECT_NO
		      , P.PROJECT_NAME
		      , CR.CR_GRANTOR_1
		      , M2.MEMBER_NAME AS GRANTOR_NAME_1
		      , CR.CR_GRANTOR_2
		      , M3.MEMBER_NAME AS GRANTOR_NAME_2
		      , CR.REGISTER_NO
		      , M.MEMBER_NAME AS REGISTER_NAME
		      , CR.CR_STATUS
	FROM CHANGE_REQUEST CR
	JOIN PROJECT P ON (CR.PROJECT_NO = P.PROJECT_PK)
	JOIN MEMBER M ON (CR.REGISTER_NO = M.MEMBER_NO)
	JOIN MEMBER M2 ON (CR.CR_GRANTOR_1 = M2.MEMBER_NO)
	JOIN MEMBER M3 ON (CR.CR_GRANTOR_2 = M3.MEMBER_NO)
	WHERE CR.PROJECT_NO = #{pno}
	ORDER BY CR.CHANGE_NO DESC
		
	</select>


	<select id="selectChangeRequestOne" parameterType="java.lang.String" resultMap="selectChangeRequest">
		SELECT 
		        CR.CHANGE_NO
		      , CR.REQUEST_TITLE
	          , CR.REQUEST_CONTENT
		      , CR.REQUEST_DATE
		      , CR.WORK_NO
		      , CR.WORK_NAME
		      , CR.STATUS
		      , CR.PROJECT_NO
		      , P.PROJECT_NAME
	          , CR.BEGIN_DATE
	          , CR.COMPLETE_DATE
	          , CR.PRECEDE_NO
	          , CR.COMPLETE_RATE
	          , CR.GRANTOR_NO
	          , M4.MEMBER_NAME AS WORK_GRANTOR_NAME
	          , CR.WORK_LEVEL
	          , CR.HIGH_WORK_NO
	          , W.WORK_NAME AS HIGH_WORK_NAME
	          , CR.WORK_TYPE
	          , CR.WORK_STATUS
	          , CR.MEMBER_NO
	          , M5.MEMBER_NAME AS WORK_MEMBER_NAME
		      , CR.CR_GRANTOR_1
		      , M2.MEMBER_NAME AS GRANTOR_NAME_1
		      , CR.CR_GRANTOR_2
		      , M3.MEMBER_NAME AS GRANTOR_NAME_2
		      , CR.REGISTER_NO
		      , M.MEMBER_NAME AS REGISTER_NAME
		      , CR.CR_STATUS
		FROM CHANGE_REQUEST CR
		JOIN PROJECT P ON (CR.PROJECT_NO = P.PROJECT_PK)
		JOIN MEMBER M ON (CR.REGISTER_NO = M.MEMBER_NO)
		JOIN MEMBER M2 ON (CR.CR_GRANTOR_1 = M2.MEMBER_NO)
		JOIN MEMBER M3 ON (CR.CR_GRANTOR_2 = M3.MEMBER_NO)
		JOIN MEMBER M4 ON (CR.GRANTOR_NO = M4.MEMBER_NO)
		JOIN MEMBER M5 ON (CR.MEMBER_NO = M5.MEMBER_NO)
		JOIN WORK W ON (CR.HIGH_WORK_NO = W.WORK_NO)
		WHERE CR.CHANGE_NO = #{changeNo}
	</select>
	
	<select id="selectGrantorName" parameterType="java.lang.String" resultMap="selectGrantorName">
	SELECT M.MEMBER_NO, M.MEMBER_NAME, D.DEPT_NAME, R.RANK_NAME
		FROM MEMBER M
		JOIN DEPT D ON (M.DEPT_NO = D.DEPT_NO)
		JOIN RANK R ON (M.RANK_NO = R.RANK_NO)
		WHERE M.MEMBER_NO = #{grantorNo}
	</select>
	
	<select id="selectWorkOne" parameterType="java.lang.String" resultMap="workResultSelect">
	SELECT 
	        W.WORK_NO
	      , W.WORK_NAME
	      , W.STATUS
	      , W.PROJECT_NO
	      , P.PROJECT_NAME
	      , W.BEGIN_DATE
	      , W.COMPLETE_DATE
	      , W.PRECEDE_NO
	      , W.COMPLETE_RATE
	      , W.GRANTOR_NO
	      , W.WORK_LEVEL
	      , W.HIGH_WORK_NO
	      , W2.WORK_NAME AS HIGH_WORK_NAME
	      , W.WORK_TYPE
	      , W.MEMBER_NO
	      , W.WORK_STATUS
	FROM WORK W
	LEFT OUTER JOIN WORK W2 ON (W.HIGH_WORK_NO = W2.WORK_NO)
	JOIN PROJECT P ON (W.PROJECT_NO = P.PROJECT_PK)
	WHERE W.WORK_NO = #{workNo}
	</select>
	
</mapper>










  