<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mail">
	<resultMap type="Mail" id="mailResultSet">
		<id property="mailNo" column="MAIL_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="subject" column="MAIL_SUBJECT"/>
		<result property="content" column="MAIL_CONTENT"/>
		<result property="enrollDate" column="MAIL_ENROLLDATE"/>
		<result property="status" column="MAIL_STATUS"/>
		<result property="from" column="MAIL_FROM"/>
		<result property="reNo" column="RECEIVER_NO"/>
		<result property="receiver" column="RECEIVER_EMAIL"/>
		<result property="receiverType" column="RECEIVER_TYPE"/>
		<result property="mbNo" column="MAILBOX_NO"/>
		<result property="mailBoxType" column="MAILBOX_TYPE"/>
		<result property="important" column="IMPORTANT"/>
		<result property="temp" column="TEMP"/>
		<result property="spam" column="SPAM"/>
		<result property="trash" column="TRASH"/>
		<result property="read" column="READ"/>
		<collection property="atMail" resultMap="atMailResultSet" />
	</resultMap>
	
	<resultMap type="AttachmentMail" id="atMailResultSet">
		<id property="eaNo" column="EA_NO"/>
		<result property="mailNo" column="MAIL_NO"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="eaSize" column="EA_SIZE"/>
		<result property="filePath" column="FILE_PATH"/>
	</resultMap>
	
	
	<insert id="insertMail" parameterType="Mail">
		INSERT INTO MAIL
		VALUES(SEQ_MA_NO.NEXTVAL, #{memberNo},#{subject}, #{content}, SYSDATE, 'Y' , #{from})		
	</insert>
	
	<insert id="insertAt" parameterType="AttachmentMail">
		INSERT INTO ATTACHMENT_MAIL
		VALUES(SEQ_ATM_NO.NEXTVAL, SEQ_MA_NO.CURRVAL, #{originName}, #{changeName}, #{eaSize}, #{filePath})
	</insert>
	
	<insert id="insertReceiver" parameterType="Mail">
		INSERT INTO MAIL_RECEIVER
		VALUES(SEQ_RE_NO.NEXTVAL, SEQ_MA_NO.CURRVAL, #{receiver}, '1')
	</insert>
	
	<insert id="insertMailBox" parameterType="Mail">
		INSERT INTO MAILBOX
		VALUES(SEQ_MB_NO.NEXTVAL, SEQ_MA_NO.CURRVAL, #{memberNo}, 2 ,DEFAULT, DEFAULT, DEFAULT, DEFAULT, 'Y')
	</insert>
	
	<insert id="insertMailBox2" parameterType="Mail">
		INSERT INTO MAILBOX
		VALUES(SEQ_MB_NO.NEXTVAL, SEQ_MA_NO.CURRVAL, #{memberNo}, 1 ,DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<insert id="insertMailBox3" parameterType="Mail">
		INSERT INTO MAILBOX
		VALUES(SEQ_MB_NO.NEXTVAL, SEQ_MA_NO.CURRVAL, #{memberNo}, 2 ,DEFAULT, DEFAULT, DEFAULT, DEFAULT ,'Y')
	</insert>
	
	<select id="sentMailList" parameterType="Mail" resultMap="mailResultSet">
		SELECT *
		FROM MAIL M 
		LEFT JOIN MAILBOX MB ON(M.MAIL_NO = MB.MAIL_NO)
		LEFT JOIN MAIL_RECEIVER MR ON(M.MAIL_NO = MR.MAIL_NO)
		WHERE MAILBOX_TYPE = 2
		AND MB.TRASH = 'N'
        AND MAIL_FROM = #{from}
		AND M.MAIL_STATUS = 'Y'
		ORDER BY M.MAIL_NO DESC
	</select>
	
	<select id="selectMailOne" parameterType="java.lang.String" resultMap="mailResultSet">
		SELECT *
		FROM MAIL M 
		LEFT JOIN MAILBOX MB ON(M.MAIL_NO = MB.MAIL_NO)
		LEFT JOIN MAIL_RECEIVER MR ON(M.MAIL_NO = MR.MAIL_NO)
		LEFT JOIN ATTACHMENT_MAIL AM ON(M.MAIL_NO = AM.MAIL_NO)
		WHERE M.MAIL_NO = #{no}
	</select>
	
	<select id="downAttach" resultMap="atMailResultSet" parameterType="java.lang.String">
		SELECT *
		FROM ATTACHMENT_MAIL
		WHERE EA_NO = #{no}
	</select>
	
	<select id="listCount"  resultType="_int">
		SELECT COUNT(*)
		FROM MAIL M 
		JOIN MAILBOX MB ON(M.MAIL_NO = MB.MAIL_NO)
		JOIN MAIL_RECEIVER MR ON(M.MAIL_NO = MR.MAIL_NO)
		WHERE MAILBOX_TYPE = 2
		AND M.MEMBER_NO = #{memberNo}
		AND MB.TRASH = 'N'
		AND M.MAIL_STATUS = 'Y'
	</select> 
	
	<select id="listCount2"  resultType="_int">
		SELECT COUNT(*)
		FROM MAIL M 
		JOIN MAILBOX MB ON(M.MAIL_NO = MB.MAIL_NO)
		JOIN MAIL_RECEIVER MR ON(M.MAIL_NO = MR.MAIL_NO)
		WHERE MAILBOX_TYPE = 1
		AND M.MEMBER_NO = #{memberNo}
		AND MB.TRASH = 'N'
		AND M.MAIL_STATUS = 'Y'
	</select>
	
	<select id="getListCount3"  resultType="_int">
		SELECT COUNT(*)
		FROM MAIL M 
		JOIN MAILBOX MB ON(M.MAIL_NO = MB.MAIL_NO)
		JOIN MAIL_RECEIVER MR ON(M.MAIL_NO = MR.MAIL_NO)
		WHERE M.MEMBER_NO = #{memberNo}
		AND MB.TRASH = 'N'
		AND MB.IMPORTANT = 'Y'
		AND M.MAIL_STATUS = 'Y'
	</select>
	
	<select id="getListCount4"  resultType="_int">
		SELECT COUNT(*)
		FROM MAIL M 
		JOIN MAILBOX MB ON(M.MAIL_NO = MB.MAIL_NO)
		JOIN MAIL_RECEIVER MR ON(M.MAIL_NO = MR.MAIL_NO)
		WHERE M.MEMBER_NO = #{memberNo}
		AND MB.TRASH = 'Y'
		AND M.MAIL_STATUS = 'Y'
	</select>
	
	<select id="listCount5"  resultType="_int">
		SELECT COUNT(*)
		FROM MAIL M 
		JOIN MAILBOX MB ON(M.MAIL_NO = MB.MAIL_NO)
		JOIN MAIL_RECEIVER MR ON(M.MAIL_NO = MR.MAIL_NO)
		WHERE M.MEMBER_NO = #{memberNo}
		AND MB.TRASH = 'Y'
		AND M.MAIL_STATUS = 'Y'
		AND READ = 'N'
	</select>
	
	<insert id="insertReciveMail" parameterType="Mail" >
		INSERT INTO MAIL
		VALUES(SEQ_MA_NO.NEXTVAL, #{memberNo},#{subject}, #{content}, SYSDATE, 'Y' , #{from})
	</insert>
	
	<insert id="insertReciveMailBox" parameterType="Mail">
		INSERT INTO MAILBOX
		VALUES(SEQ_MB_NO.NEXTVAL, SEQ_MA_NO.CURRVAL, #{memberNo}, 1 , DEFAULT, DEFAULT, DEFAULT, DEFAULT )
	</insert>
	
	<select id="reciveMailList" parameterType="Mail" resultMap="mailResultSet">
		SELECT *
		FROM MAIL M 
        JOIN MEMBER MEM ON(M.MEMBER_NO = MEM.MEMBER_NO)
		LEFT JOIN MAILBOX MB ON(M.MAIL_NO = MB.MAIL_NO)
		LEFT JOIN MAIL_RECEIVER MR ON(M.MAIL_NO = MR.MAIL_NO)
		WHERE MAILBOX_TYPE = 1
		AND MB.TRASH = 'N'
        AND RECEIVER_EMAIL = #{receiver}
		AND M.MAIL_STATUS = 'Y'
		ORDER BY MAIL_ENROLLDATE DESC
	</select>
	
	<select id="impMailList" parameterType="Mail" resultMap="mailResultSet">
		SELECT *
		FROM MAIL M 
		JOIN MAILBOX MB ON(M.MAIL_NO = MB.MAIL_NO)
		JOIN MAIL_RECEIVER MR ON(M.MAIL_NO = MR.MAIL_NO)
		WHERE M.MEMBER_NO = #{memberNo}
		AND MB.IMPORTANT = 'Y'
		AND MB.TRASH = 'N'
		AND M.MAIL_STATUS = 'Y'
		ORDER BY MAIL_ENROLLDATE DESC
	</select>
	
	<select id="trashMailList" parameterType="Mail" resultMap="mailResultSet">
		SELECT *
		FROM MAIL M 
		JOIN MAILBOX MB ON(M.MAIL_NO = MB.MAIL_NO)
		JOIN MAIL_RECEIVER MR ON(M.MAIL_NO = MR.MAIL_NO)
		WHERE M.MEMBER_NO = #{memberNo}
		AND MB.TRASH = 'Y'
		AND M.MAIL_STATUS = 'Y'
		ORDER BY MAIL_ENROLLDATE DESC
	</select>
	
	<select id="nReadMailList" parameterType="Mail" resultMap="mailResultSet">
		SELECT *
		FROM MAIL M 
		JOIN MAILBOX MB ON(M.MAIL_NO = MB.MAIL_NO)
		JOIN MAIL_RECEIVER MR ON(M.MAIL_NO = MR.MAIL_NO)
		WHERE M.MEMBER_NO = #{memberNo}
		AND MB.TRASH = 'N'
		AND M.MAIL_STATUS = 'Y'
		AND READ = 'N'
		ORDER BY MAIL_ENROLLDATE DESC
	</select>
	
	<select id="reciveMailOne" parameterType="java.lang.String" resultMap="mailResultSet">
		SELECT *
		FROM MAIL M 
		LEFT JOIN MAILBOX MB ON(M.MAIL_NO = MB.MAIL_NO)
		LEFT JOIN MAIL_RECEIVER MR ON(M.MAIL_NO = MR.MAIL_NO)
		LEFT JOIN ATTACHMENT_MAIL AM ON(M.MAIL_NO = AM.MAIL_NO)
		WHERE M.MAIL_NO = #{mNo}
	</select>
	
	<update id="updateImportant" parameterType="Mail">
		UPDATE MAILBOX 
		SET IMPORTANT = 'N'
		WHERE MAIL_NO = #{mailNo}		 
	</update>
	
	<update id="updateImportant2" parameterType="Mail">
		UPDATE MAILBOX 
		SET IMPORTANT = 'Y'
		WHERE MAIL_NO = #{mailNo}		 
	</update>
	
	<update id="updateTrash" parameterType="java.lang.String">
		UPDATE MAILBOX 
		SET TRASH = 'Y'
		WHERE MAIL_NO = #{mNO}	
	</update>
	
	<update id="updateRead" parameterType="Mail">
		UPDATE MAILBOX 
		SET READ = 'Y'
		WHERE MAIL_NO = #{mailNo}	
	</update>
	
	<update id="deleteMail" parameterType="java.lang.String">
		UPDATE MAIL
		SET MAIL_STATUS = 'N'
		WHERE MAIL_NO = #{mNo}
	</update>
		
</mapper>
