<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Notice">

	<resultMap type="Notice" id="noticeResultSet">
		<id property="noticeNo" column="NOTICE_NO"/>
		<result property="noticeTitle" column="NOTICE_TITLE"/>
		<result property="noticeContent" column="NOTICE_CONTENT"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="viewCount" column="VIEW_COUNT"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="memberName" column="MEMBER_NAME"/>
	</resultMap>
	
	<resultMap type="Mwork" id="mWorkResultSet">
		<id property="workNo" column="WORK_NO"/>
		<result property="workName" column="WORK_NAME"/>
		<result property="status" column="STATUS"/>
		<result property="projectNo" column="PROJECT_NO"/>
		<result property="beginDate" column="BEGIN_DATE"/>
		<result property="completeDate" column="COMPLETE_DATE"/>
		<result property="precedeNo" column="PRECEDE_NO"/>
		<result property="completeRate" column="COMPLETE_RATE"/>
		<result property="grantorNo" column="GRANTOR_NO"/>
		<result property="workLevel" column="WORK_LEVEL"/>
		<result property="highWorkNo" column="HIGH_WORK_NO"/>
		<result property="memo" column="MEMO"/>
		<result property="workType" column="WORK_TYPE"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="workStatus" column="WORK_STATUS"/>
		<result property="memberName" column="MEMBER_NAME"/>		
	</resultMap>
	
	
	<insert id="noticeInsert" parameterType="Notice">
		INSERT INTO NOTICE 
		VALUES('NOT'|| TO_CHAR(SEQ_NOTICE.NEXTVAL, 'FM000'), #{noticeTitle}, #{noticeContent} ,SYSDATE, SYSDATE, 0, #{memberNo} , 'Y')
	</insert>
	
	<select id="selectCurrval"  resultType="java.lang.String" parameterType="java.lang.String">
		SELECT SEQ_NOTICE.CURRVAL 
		FROM DUAL
	</select>
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM NOTICE
	</select>
	
	<select id="selectAll" resultMap="noticeResultSet" >
		SELECT N.NOTICE_NO
			  ,N.NOTICE_TITLE
			  ,N.NOTICE_CONTENT
			  ,N.CREATE_DATE
			  ,N.MODIFY_DATE
			  ,N.CREATE_DATE
			  ,N.VIEW_COUNT
			  ,M.MEMBER_NAME
			  ,N.MEMBER_NO
		FROM NOTICE	 N
        JOIN MEMBER M ON(N.MEMBER_NO = M.MEMBER_NO)
		WHERE N.STATUS = 'Y'
		ORDER BY NOTICE_NO DESC
	</select>
	
	<select id="selectNotice" resultMap="noticeResultSet" parameterType="Notice">
		SELECT N.NOTICE_NO
			  ,N.NOTICE_TITLE
			  ,N.NOTICE_CONTENT
			  ,N.CREATE_DATE
			  ,N.MODIFY_DATE
			  ,N.VIEW_COUNT
			  ,M.MEMBER_NAME
			  ,N.MEMBER_NO
		FROM NOTICE	 N
        JOIN MEMBER M ON(N.MEMBER_NO = M.MEMBER_NO)
		WHERE N.STATUS = 'Y'
		AND NOTICE_NO = #{noticeNo}
	</select>
	
	<update id="countPlus" parameterType="Notice">
		UPDATE NOTICE SET VIEW_COUNT = #{viewCount} +1
		WHERE NOTICE_NO = #{noticeNo}
	</update>	
	
	<insert id="replyInsert" parameterType="Reply">
		INSERT INTO REPLY
		VALUES('RE'|| TO_CHAR(SEQ_REPLY.NEXTVAL, 'FM000'),#{replyContent},SYSDATE, SYSDATE, 'Y',#{memberNo},#{forumNo})
	</insert>
	
	<update id="deleteNotice" parameterType="java.lang.String">
		UPDATE NOTICE SET STATUS = 'N'
		WHERE NOTICE_NO = #{nNo}
	</update>	
	
	<select id="updateNoticeSelect" parameterType="java.lang.String" resultType="Notice">
		SELECT NOTICE_NO
			  ,NOTICE_TITLE
			  ,NOTICE_CONTENT
			  ,CREATE_DATE
			  ,MODIFY_DATE
			  ,CREATE_DATE
			  ,VIEW_COUNT
			  ,MEMBER_NO
		FROM NOTICE
		WHERE NOTICE_NO = #{nNo}
	</select>
	
	<update id="noticeUpdate" parameterType="Notice">
		UPDATE NOTICE SET NOTICE_TITLE = #{noticeTitle} , NOTICE_CONTENT = #{noticeContent} , MODIFY_DATE = SYSDATE
		WHERE NOTICE_NO = #{noticeNo}
	</update>
	
	<select id="selectListWork" parameterType="Mwork" resultMap="mWorkResultSet">
		SELECT M.MEMBER_NAME, WORK_NAME , BEGIN_DATE, COMPLETE_DATE, MEMO
		FROM PROJECT P 
		JOIN PROJECT_TEAM PT ON(PT.PROJECT_PK = P.PROJECT_PK)
		JOIN MEMBER M ON(PT.MEMBER_PK = M.MEMBER_NO)
		LEFT JOIN (SELECT *
         		  FROM WORK
          		 WHERE PROJECT_NO=#{projectNo}) W ON(W.MEMBER_NO = PT.MEMBER_PK)
		WHERE P.PROJECT_PK = #{projectNo}
		ORDER BY M.MEMBER_NAME
	</select>
		
</mapper>
