<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Project">
    <!--프로젝트 객체에 들어갈 sql 결과값들-->
    <resultMap id="projectResultSet" type="Project">
        <id property="projectPk" column="project_pk"/>
        <result property="projectName" column="project_name"/>
        <result property="isImportant" column="is_important"/>
        <result property="projectTypePk" column="project_type_pk"/>
        <result property="projectRank" column="project_rank"/>
        <result property="projectManager" column="project_manager"/>
        <result property="deptNo" column="dept_no"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="detail" column="detail"/>
        <result property="remarks" column="remarks"/>
        <result property="status" column="status"/>
        <result property="templatePk" column="template_pk"/>
    </resultMap>

    <resultMap id="projectListResultSet" type="ProjectList">
        <id property="projectPk" column="project_pk"/>
        <result property="projectName" column="project_name"/>
        <result property="isImportant" column="is_important"/>
        <result property="projectTypePk" column="project_type_pk"/>
        <result property="projectTypeName" column="TYPE_NAME"/>
        <result property="projectRank" column="project_rank"/>
        <result property="projectManager" column="project_manager"/>
        <result property="projectManagerName" column="MEMBER_NAME"/>
        <result property="deptNo" column="dept_no"/>
        <result property="deptName" column="dept_name"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="status" column="status"/>
    </resultMap>

    <resultMap id="projectWorkListResultSet" type="ProjectWork">
        <id property="workNo" column="work_No"/>
        <result property="workName" column="work_name"/>
        <result property="status" column="status"/>
        <result property="projectNo" column="project_no"/>
        <result property="beginDate" column="begin_date"/>
        <result property="completeDate" column="complete_date"/>
        <result property="completeRate" column="complete_rate"/>
        <result property="grantorNo" column="grantor_no"/>
        <result property="workLevel" column="work_level"/>
        <result property="highWorkNo" column="high_work_no"/>
        <result property="memo" column="memo"/>
        <result property="workType" column="work_type"/>
        <result property="workStatus" column="work_status"/>
    </resultMap>

    <resultMap id="projectTypeResultSet" type="ProjectType">
        <id property="typePk" column="type_pk"/>
        <result property="typeName" column="type_name"/>
    </resultMap>

    <resultMap type="Dept" id="deptResultSet">
        <id property="deptNo" column="DEPT_NO"/>
        <result property="deptName" column="DEPT_NAME"/>
        <result property="highDept" column="HIGH_DEPT"/>
        <result property="deptLevel" column="DEPT_LEVEL"/>
    </resultMap>

    <resultMap type="Template" id="templateResultSet">
        <id property="templatePk" column="TEMPLATE_PK"/>
        <result property="projectTypePk" column="PROJECT_TYPE_PK"/>
        <result property="memberPk" column="MEMBER_PK"/>
        <result property="templateName" column="TEMPLATE_NAME"/>
        <result property="detail" column="DETAIL"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="editDate" column="EDIT_DATE"/>
    </resultMap>

    <resultMap type="DeptMember" id="deptMemberResultSet">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="phone" column="PHONE"/>
        <result property="email" column="EMAIL"/>
        <result property="memberType" column="MEMBER_TYPE"/>
        <result property="rankNo" column="RANK_NAME"/>
        <result property="deptName" column="DEPT_NAME"/>
        <result property="enrollDate" column="ENROLL_DATE"/>
        <result property="modifyDate" column="MODIFY_DATE"/>
        <result property="status" column="STATUS"/>
    </resultMap>

    <!--부서목록-->
    <select id="selectDeptList" resultMap="deptResultSet">
        SELECT *
        FROM DEPT
        where status = 'Y'
    </select>

    <!--현역 사원목록-->
    <select id="selectActiveMember" parameterType="String" resultMap="deptMemberResultSet">
        SELECT *
        FROM MEMBER
        WHERE MEMBER_TYPE = '0'
          AND STATUS = 'Y'
          and DEPT_NO = #{deptNo}
    </select>

    <select id="selectProjectTypeList" resultMap="projectTypeResultSet">
        select *
        from project_type
    </select>

    <select id="selectProjectWorkList" resultMap="projectWorkListResultSet" parameterType="String">
        select *
        from WORK
    </select>

    <select id="getSeq" resultType="String">
        select to_char(SEQ_PROJ.currval, 'FM000')
        from dual
    </select>
    <!--모든 프로젝트 목록조회-->
    <select id="selectProjectList" resultMap="projectListResultSet">
        SELECT P.PROJECT_PK      AS PROJECT_PK,
               P.PROJECT_NAME    AS PROJECT_NAME,
               P.IS_IMPORTANT    AS IS_IMPORTANT,
               P.PROJECT_TYPE_PK AS PROJECT_TYPE_PK,
               PT.TYPE_NAME      AS TYPE_NAME,
               P.PROJECT_RANK    AS PROJECT_RANK,
               P.PROJECT_MANAGER AS PROJECT_MANAGER,
               T.MEMBER_NAME     AS MEMBER_NAME,
               P.PROJECT_TYPE_PK AS PROJECT_TYPE_PK,
               P.DEPT_NO         AS DEPT_NO,
               D.DEPT_NAME       AS DEPT_NAME,
               P.START_DATE      AS START_DATE,
               P.END_DATE        AS END_DATE,
               P.STATUS          AS STATUS
        FROM PROJECT P
                 JOIN DEPT D ON P.DEPT_NO = D.DEPT_NO
                 JOIN PROJECT_TYPE PT ON P.PROJECT_TYPE_PK = PT.TYPE_PK
                 JOIN (SELECT *
                       FROM PROJECT_TEAM
                                JOIN MEMBER M ON PROJECT_TEAM.MEMBER_PK = M.MEMBER_NO) T
                      ON P.PROJECT_PK = T.PROJECT_PK
        where T.ROLE = 'PM'
    </select>
    <!--모든 프로젝트 목록조회를 위한 총 목록 수-->
    <select id="getProjectListCount" resultType="_int">
        SELECT count(*)
        FROM PROJECT P
                 JOIN DEPT D ON P.DEPT_NO = D.DEPT_NO
                 JOIN PROJECT_TYPE PT ON P.PROJECT_TYPE_PK = PT.TYPE_PK
                 JOIN PROJECT_TEAM T ON P.PROJECT_PK = T.PROJECT_PK
        WHERE T.MEMBER_PK = P.PROJECT_MANAGER
    </select>
    <select id="selectTemplateList" resultMap="templateResultSet">
        select *
        from PROJECT_TEMPLATE
    </select>
    <insert id="insertProjectWork" parameterType="ProjectWork">
        INSERT INTO WORK
        VALUES ('W' || to_char(SEQ_WNO.NEXTVAL, 'FM000'),
                #{workName}, #{status}, #{projectNo}, #{beginDate}, #{completeDate},
                #{precedeNo}, #{completeRate}, #{grantorNo}, #{workLevel}, #{highWorkNo},
                #{memo}, #{workType}, #{memberNo}, #{workStatus})
    </insert>

    <insert id="insertProject" parameterType="Project">
        insert into PROJECT
        values ('P' || to_char(SEQ_PROJ.nextval, 'FM000'), #{projectName},
                #{isImportant}, #{projectTypePk}, #{projectRank}, #{projectManager}, #{deptNo},
                #{startDate}, #{endDate}, #{detail}, #{remarks}, #{status}, #{templatePk})
    </insert>
    <insert id="insertProjectTeam" parameterType="ProjectTeam">
        insert into PROJECT_TEAM
        values ('PT' || to_char(SEQ_TEAM.nextval, 'FM000'), #{projectPk},
                #{memberPk}, #{role})
    </insert>
</mapper>