<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Template">

	<resultMap type="Template" id="templateResultSet">
		<id property="templatePk" column="TEMPLATE_PK"/>
		<result property="projectTypePk" column="PROJECT_TYPE_PK"/>
		<result property="memberPk" column="MEMBER_PK"/>
		<result property="templateName" column="TEMPLATE_NAME"/>
		<result property="detail" column="DETAIL"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="editDate" column="EDIT_DATE"/>
	</resultMap>
	
	<resultMap type="TemplateWork" id="templateWorkResultSet">
		<id property="twNo" column="TW_NO"/>
		<result property="tNo" column="TEMPLATE_NO"/>
		<result property="wNo" column="WORK_NO"/>
		<result property="wName" column="WORK_NAME"/>
		<result property="beginDate" column="BEGIN_DATE"/>
		<result property="completeDate" column="COMPLETE_DATE"/>
	</resultMap>
	
	
	<insert id="insertTemplate" parameterType="Template">
		INSERT INTO PROJECT_TEMPLATE 
		VALUES('TEM'|| TO_CHAR(SEQ_TEMPLATE.NEXTVAL, 'FM000'), #{projectTypePk}, #{memberPk}, #{templateName} , #{detail}, SYSDATE , SYSDATE)
	</insert>
	
		
	<select id="selectCurrval"  resultType="java.lang.String" parameterType="java.lang.String">
		SELECT SEQ_TEMPLATE.CURRVAL 
		FROM DUAL
	</select>
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM PROJECT_TEMPLATE
	</select>
	
	<select id="selectAll" resultMap="templateResultSet" >
		SELECT TEMPLATE_PK
			  ,PROJECT_TYPE_PK
			  ,MEMBER_PK
			  ,TEMPLATE_NAME
			  ,DETAIL
			  ,CREATE_DATE
			  ,EDIT_DATE
		FROM PROJECT_TEMPLATE	  
	</select>
	
	<select id="selectOne" resultMap="templateResultSet" parameterType="Template">
		SELECT TEMPLATE_PK
			  ,PROJECT_TYPE_PK
			  ,MEMBER_PK
			  ,TEMPLATE_NAME
			  ,DETAIL
			  ,CREATE_DATE
			  ,EDIT_DATE
		FROM PROJECT_TEMPLATE
		WHERE TEMPLATE_PK = #{templatePk}
	</select>
	
	<update id="updateTemp" parameterType="Template">
		UPDATE PROJECT_TEMPLATE SET TEMPLATE_NAME = #{templateName} , PROJECT_TYPE_PK = #{projectTypePk}  , DETAIL = #{detail}
		WHERE TEMPLATE_PK = #{templatePk}
	</update>
	
	<insert id="insertExcel" parameterType="TemplateWork">
		INSERT INTO TEMPLATE_WORK
		VALUES('TW'|| TO_CHAR(SEQ_TEMPLATE.NEXTVAL, 'FM000'),#{tNo}, #{wNo}, #{wName}, #{beginDate}, #{completeDate})
	</insert>
	
	<select id="selectTwList" parameterType="java.lang.String" resultMap="templateWorkResultSet">
		SELECT TW_NO, TEMPLATE_NO, WORK_NO, WORK_NAME, BEGIN_DATE, COMPLETE_DATE
		FROM TEMPLATE_WORK
		WHERE TEMPLATE_NO = #{tm}
	</select>
	
</mapper>
