<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TimeLine">
	<resultMap type="TimeLine" id="tagResultSet">
		<id property="tagNo" column="TAG_NO"></id>
		<result property="tagName" column="TAG_NAME"/>
	</resultMap>
	
	<insert id="insertTimeLine" parameterType="TimeLine">
		INSERT INTO TIMELINE VALUES('TI'|| TO_CHAR(SEQ_TIME.NEXTVAL, 'FM000'), #{content}, #{memberNo}, SYSDATE, 'Y', #{aStatus})
	</insert>
	
	<insert id="insertTimeAttachment" parameterType="Attachment">
		INSERT INTO ATTACHMENT
		VALUES('AT'|| TO_CHAR(SEQ_AT_NO.NEXTVAL, 'FM000'), 'TI'|| TO_CHAR(SEQ_TIME.CURRVAL, 'FM000'), #{originName}, #{changeName} , #{filePath}, #{ext})
	</insert>
	
	<select id="selectOneTag" parameterType="java.lang.String" resultMap="tagResultSet">
		SELECT TAG_NO
		     , TAG_NAME
		FROM TIMELINE_TAG
		WHERE TAG_NAME = #{tagName}
	</select>	
	
	<insert id="insertTag"  parameterType="java.lang.String">
		INSERT INTO TIMELINE_TAG VALUES('TAG'|| TO_CHAR(SEQ_TAG.NEXTVAL, 'FM000'), #{tagName})
	</insert>
	
	<insert id="insertTimeLineTag">
		INSERT INTO TIMELINE_TAGLIST VALUES('TAG'|| TO_CHAR(SEQ_TAG.CURRVAL, 'FM000'), 'TI'|| TO_CHAR(SEQ_TIME.CURRVAL, 'FM000'), 'Y')
	</insert>
	
	<insert id="insertTagName" parameterType="java.lang.String">
		INSERT INTO TIMELINE_TAGLIST VALUES(#{tagNo}, 'TI'|| TO_CHAR(SEQ_TIME.CURRVAL, 'FM000'), 'Y')
	</insert>
	
	<insert id="insertTimeListHart" parameterType="TimeLine">
		INSERT INTO TIMELINE_LIKE VALUES(#{memberNo}, #{timeLineNo})
	</insert>
	
	<delete id="deleteHart" parameterType="TimeLine">
		DELETE FROM TIMELINE_LIKE WHERE TIMELINE_NO = #{timeLineNo} AND MEMBER_NO = #{memberNo}
	</delete>
	
	<insert id="insertHighComment" parameterType="Comment">
		INSERT INTO TIMELINE_COMMENT VALUES('TC'|| TO_CHAR(SEQ_COMM.NEXTVAL, 'FM0000'), #{timeLineNo}, #{highComment}, #{tcLevel}, #{tcContent}, #{memberNo}, SYSDATE, 'Y')
	</insert>
	
	<select id="selectOneTimeLineOne" resultType="java.lang.String">
		SELECT 'TC'|| TO_CHAR(SEQ_COMM.CURRVAL, 'FM0000')
		FROM DUAL
	</select>
	
	<select id="selectSysdate" resultType="java.lang.String">
		SELECT TO_CHAR(SYSDATE,'MM"월"DD"일" HH24:MI') 
        FROM DUAL
	</select>
	
	<select id="deleteHighComment" parameterType="Comment">
		UPDATE TIMELINE_COMMENT SET STATUS = 'N' WHERE T_COMMENT_NO = #{tCommentNo}
	</select>
</mapper>
