<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Work">

	<resultMap type="Work" id="workResultSet">
		<id property="workNo" column="WORK_NO"/>
		<result property="workName" column="WORK_NAME"/>
		<result property="status" column="STATUS"/>
		<result property="projectNo" column="PROJECT_NO"/>
		<result property="projectName" column="PROJECT_Name"/>
		<result property="beginDate" column="BEGIN_DATE"/>
		<result property="completeDate" column="COMPLETE_DATE"/>
		<result property="precedeNo" column="PRECEDE_NO"/>
		<result property="completeRate" column="COMPLETE_RATE"/>
		<result property="grantorNo" column="GRANTOR_NO"/>
		<result property="workLevel" column="WORK_LEVEL"/>
		<result property="highWorkNo" column="HIGH_WORK_NO"/>
		<result property="memo" column="MEMO"/>
		<result property="workType" column="WORK_TYPE"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="workStatus" column="WORK_STATUS"/>
	</resultMap>
	
	<resultMap type="WorkProjectName" id="workResultSet2">
		<id property="workNo" column="WORK_NO"/>
		<result property="workName" column="WORK_NAME"/>
		<result property="status" column="STATUS"/>
		<result property="projectNo" column="PROJECT_NO"/>
		<result property="beginDate" column="BEGIN_DATE"/>
		<result property="completeDate" column="COMPLETE_DATE"/>
		<result property="precedeNo" column="PRECEDE_NO"/>
		<result property="completeRate" column="COMPLETE_RATE"/>
		<result property="grantorNo" column="GRANTOR_NO"/>
		<result property="workLevel" column="WORK_LEVEL"/>
		<result property="highWorkNo" column="HIGH_WORK_NO"/>
		<result property="memo" column="MEMO"/>
		<result property="workType" column="WORK_TYPE"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="workStatus" column="WORK_STATUS"/>
		<result property="projectName" column="PROJECT_NAME"/>
	</resultMap>
	
	
	<resultMap type="WorkProjectTeam" id="selectTeamWorkResult">
		<id property="teamPk" column="TEAM_PK"/>
		<result property="projectPk" column="PROJECT_PK"/>
		<result property="memberPk" column="MEMBER_PK"/>
		<result property="role" column="ROLE"/>
		<result property="projectName" column="PROJECT_NAME"/>
	</resultMap>
	
	<resultMap type="Grantor" id="selectGrantorList">
		<id property="memberPk" column="MEMBER_PK"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="rankName" column="RANK_NAME"/>
	</resultMap>
	
	<resultMap type="WorkAttachment" id="selectWorkAttachment">
		<id property="atNo" column="AT_NO"/>
		<result property="productNo" column="PRODUCT_NO"/>
		<result property="workNo" column="WORK_NO"/>
		<result property="productType" column="PRODUCT_TYPE"/>
		<result property="productTitle" column="PRODUCT_TITLE"/>
		<result property="productContent" column="PRODUCT_CONTENT"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILEPATH"/>
		<result property="ext" column="EXT"/>
	</resultMap>
	
	<resultMap type="Work" id="workAttachResultSet">
		<id property="workNo" column="WORK_NO"/>
		<result property="workName" column="WORK_NAME"/>
		<result property="status" column="STATUS"/>
		<result property="projectNo" column="PROJECT_NO"/>
		<result property="projectName" column="PROJECT_Name"/>
		<result property="beginDate" column="BEGIN_DATE"/>
		<result property="completeDate" column="COMPLETE_DATE"/>
		<result property="precedeNo" column="PRECEDE_NO"/>
		<result property="completeRate" column="COMPLETE_RATE"/>
		<result property="grantorNo" column="GRANTOR_NO"/>
		<result property="workLevel" column="WORK_LEVEL"/>
		<result property="highWorkNo" column="HIGH_WORK_NO"/>
		<result property="memo" column="MEMO"/>
		<result property="workType" column="WORK_TYPE"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="workStatus" column="WORK_STATUS"/>
		<collection property="workAttachment" javaType="java.util.ArrayList" resultMap="selectWorkAttachment"></collection>
	</resultMap>

	<insert id="insertWork" parameterType="Work">
		INSERT INTO WORK
		VALUES('W' || TO_CHAR(SEQ_WNO.NEXTVAL, 'FM000'), #{workName}, #{status}, #{projectNo}, 
			   #{beginDate}, #{completeDate}, #{precedeNo}, #{completeRate}, #{grantorNo}, #{workLevel}, 
			   #{highWorkNo}, #{memo}, #{workType}, #{memberNo}, DEFAULT) 
	</insert>
	
	<insert id="insertWorkHistory" parameterType="hashmap">
		INSERT INTO WORK_HISTORY
		VALUES('WH' || TO_CHAR(SEQ_WH.NEXTVAL, 'FM000'), 'W' || TO_CHAR(SEQ_WNO.CURRVAL, 'FM000'), #{work.status}, NULL, SYSDATE, #{wp.teamPk})
	</insert>
	
	<insert id="insertWorkHistory2" parameterType="hashmap">
		INSERT INTO WORK_HISTORY
		VALUES('WH' || TO_CHAR(SEQ_WH.NEXTVAL, 'FM000'), #{work.workNo}, #{work.status}, #{work.memo}, SYSDATE, #{wp.teamPk})
	</insert>

	<select id="selectWorkList" parameterType="Member" resultMap="workResultSet">
	SELECT *
	FROM WORK
	WHERE MEMBER_NO = #{memberNo}
	ORDER BY WORK_NO ASC
	</select>
	
	<select id="selectWork" parameterType="java.lang.String" resultMap="workAttachResultSet">
	SELECT 
        W.WORK_NO
      , W.WORK_NAME
      , W.STATUS
      , W.PROJECT_NO
      , W.BEGIN_DATE
      , W.COMPLETE_DATE
      , W.PRECEDE_NO
      , W.COMPLETE_RATE
      , W.GRANTOR_NO
      , W.WORK_LEVEL
      , W.HIGH_WORK_NO
      , W.MEMO
      , W.WORK_TYPE
      , W.MEMBER_NO
      , W.WORK_STATUS
      , P.PROJECT_NAME
      , WP.PRODUCT_NO
      , WP.PRODUCT_TYPE 
      , WP.PRODUCT_TITLE
      , WP.PRODUCT_CONTENT
      , WP.ENROLL_DATE
      , WP.MODIFY_DATE
      , WP.AT_NO
      , WP.ORIGIN_NAME
      , WP.CHANGE_NAME
      , WP.FILEPATH
      , WP.EXT
	FROM WORK W
    JOIN PROJECT P ON (W.PROJECT_NO = P.PROJECT_PK)
    LEFT OUTER JOIN (SELECT 
        WP.PRODUCT_NO
      , WP.WORK_NO
      , WP.PRODUCT_TYPE
      , WP.PRODUCT_TITLE
      , WP.PRODUCT_CONTENT
      , WP.ENROLL_DATE
      , WP.MODIFY_DATE
      , AT.AT_NO
      , AT.ORIGIN_NAME
      , AT.CHANGE_NAME
      , AT.FILEPATH
      , AT.EXT
        FROM WORK_PRODUCT WP
        JOIN ATTACHMENT AT ON (WP.PRODUCT_NO = AT.DIVISION)) WP ON (WP.WORK_NO = W.WORK_NO)
	WHERE W.WORK_NO = #{workNo}
	</select>
	
	<select id="selectWorkList1" parameterType="Member" resultMap="workResultSet2">
	SELECT W.WORK_NO, W.WORK_NAME, W.STATUS, W.PROJECT_NO, W.BEGIN_DATE, W.COMPLETE_DATE, W.PRECEDE_NO, W.COMPLETE_RATE,
		   W.GRANTOR_NO, W.WORK_LEVEL, W.HIGH_WORK_NO, W.MEMO, W.WORK_TYPE, W.MEMBER_NO, W.WORK_STATUS, P.PROJECT_NAME
	FROM WORK W
	JOIN PROJECT P ON (W.PROJECT_NO = P.PROJECT_PK)
	WHERE W.MEMBER_NO = #{memberNo}
	AND W.WORK_STATUS = 'Y'
	ORDER BY (CASE STATUS
				   WHEN '시작전' THEN 1
                   WHEN '개발중' THEN 2
                   WHEN '개발완료' THEN 3
                   WHEN '테스트완료' THEN 4
                   WHEN 'PL검토중' THEN 5
                   WHEN 'PL승인완료' THEN 6
                   ELSE 7
              END),
              WORK_NO ASC
	</select>
	
	<select id="selectWorkList2" parameterType="Member" resultMap="workResultSet2">
	SELECT W.WORK_NO, W.WORK_NAME, W.STATUS, W.PROJECT_NO, W.BEGIN_DATE, W.COMPLETE_DATE, W.PRECEDE_NO, W.COMPLETE_RATE,
		   W.GRANTOR_NO, W.WORK_LEVEL, W.HIGH_WORK_NO, W.MEMO, W.WORK_TYPE, W.MEMBER_NO, W.WORK_STATUS, P.PROJECT_NAME
	FROM WORK W
	JOIN PROJECT P ON (W.PROJECT_NO = P.PROJECT_PK)
	WHERE W.MEMBER_NO = #{memberNo}
	AND W.WORK_STATUS = 'Y'
	AND W.STATUS = '개발중'
	ORDER BY WORK_NO ASC
	</select>
	
	<select id="selectWorkList3" parameterType="Member" resultMap="workResultSet2">
	SELECT W.WORK_NO, W.WORK_NAME, W.STATUS, W.PROJECT_NO, W.BEGIN_DATE, W.COMPLETE_DATE, W.PRECEDE_NO, W.COMPLETE_RATE,
		   W.GRANTOR_NO, W.WORK_LEVEL, W.HIGH_WORK_NO, W.MEMO, W.WORK_TYPE, W.MEMBER_NO, W.WORK_STATUS, P.PROJECT_NAME
	FROM WORK W
	JOIN PROJECT P ON (W.PROJECT_NO = P.PROJECT_PK)
	WHERE W.MEMBER_NO = #{memberNo}
	AND W.WORK_STATUS = 'Y'
	AND W.STATUS = '개발완료'
	ORDER BY WORK_NO ASC
	</select>
	
	<select id="selectWorkList4" parameterType="Member" resultMap="workResultSet2">
	SELECT W.WORK_NO, W.WORK_NAME, W.STATUS, W.PROJECT_NO, W.BEGIN_DATE, W.COMPLETE_DATE, W.PRECEDE_NO, W.COMPLETE_RATE,
		   W.GRANTOR_NO, W.WORK_LEVEL, W.HIGH_WORK_NO, W.MEMO, W.WORK_TYPE, W.MEMBER_NO, W.WORK_STATUS, P.PROJECT_NAME
	FROM WORK W
	JOIN PROJECT P ON (W.PROJECT_NO = P.PROJECT_PK)
	WHERE W.MEMBER_NO = #{memberNo}
	AND W.WORK_STATUS = 'Y'
	AND W.STATUS = '테스트완료'
	ORDER BY WORK_NO ASC
	</select>
	
	<select id="selectWorkList5" parameterType="Member" resultMap="workResultSet2">
	SELECT W.WORK_NO, W.WORK_NAME, W.STATUS, W.PROJECT_NO, W.BEGIN_DATE, W.COMPLETE_DATE, W.PRECEDE_NO, W.COMPLETE_RATE,
		   W.GRANTOR_NO, W.WORK_LEVEL, W.HIGH_WORK_NO, W.MEMO, W.WORK_TYPE, W.MEMBER_NO, W.WORK_STATUS, P.PROJECT_NAME
	FROM WORK W
	JOIN PROJECT P ON (W.PROJECT_NO = P.PROJECT_PK)
	WHERE W.MEMBER_NO = #{memberNo}
	AND W.WORK_STATUS = 'Y'
	AND W.STATUS = 'PL검토중'
	ORDER BY WORK_NO ASC
	</select>
	
	<select id="selectWorkList6" parameterType="Member" resultMap="workResultSet2">
	SELECT W.WORK_NO, W.WORK_NAME, W.STATUS, W.PROJECT_NO, W.BEGIN_DATE, W.COMPLETE_DATE, W.PRECEDE_NO, W.COMPLETE_RATE,
		   W.GRANTOR_NO, W.WORK_LEVEL, W.HIGH_WORK_NO, W.MEMO, W.WORK_TYPE, W.MEMBER_NO, W.WORK_STATUS, P.PROJECT_NAME
	FROM WORK W
	JOIN PROJECT P ON (W.PROJECT_NO = P.PROJECT_PK)
	WHERE W.MEMBER_NO = #{memberNo}
	AND W.WORK_STATUS = 'Y'
	AND W.STATUS = 'PL승인완료'
	ORDER BY WORK_NO ASC
	</select>
	
	<select id="selectWorkList7" parameterType="Member" resultMap="workResultSet2">
	SELECT W.WORK_NO, W.WORK_NAME, W.STATUS, W.PROJECT_NO, W.BEGIN_DATE, W.COMPLETE_DATE, W.PRECEDE_NO, W.COMPLETE_RATE,
		   W.GRANTOR_NO, W.WORK_LEVEL, W.HIGH_WORK_NO, W.MEMO, W.WORK_TYPE, W.MEMBER_NO, W.WORK_STATUS, P.PROJECT_NAME
	FROM WORK W
	JOIN PROJECT P ON (W.PROJECT_NO = P.PROJECT_PK)
	WHERE W.MEMBER_NO = #{memberNo}
	AND W.WORK_STATUS = 'Y'
	AND W.STATUS IN ('시작전', '개발지연')
	ORDER BY (CASE STATUS
				   WHEN '시작전' THEN 1
                   ELSE 2
              END),
              WORK_NO ASC
	</select>
	
	<select id="selectTeamWork" parameterType="Member" resultMap="selectTeamWorkResult">
	SELECT PT.TEAM_PK, PT.PROJECT_PK, PT.MEMBER_PK, PT.ROLE, P.PROJECT_NAME
	FROM PROJECT_TEAM PT
	JOIN PROJECT P ON (P.PROJECT_PK = PT.PROJECT_PK)
	WHERE PT.MEMBER_PK = #{memberNo}
	</select>
	
	<select id="selectWorkProjectTeam" parameterType="Work" resultMap="selectTeamWorkResult">
	SELECT TEAM_PK, PROJECT_PK, MEMBER_PK, ROLE
	FROM PROJECT_TEAM
	WHERE MEMBER_PK = #{memberNo}
    AND PROJECT_PK = #{projectNo}
	</select>

	<update id="updateMyWork" parameterType="Work">
	UPDATE WORK
	SET WORK_NAME = #{workName},
		STATUS = #{status},
		PROJECT_NO = #{projectNo},
		BEGIN_DATE = #{beginDate},
		COMPLETE_DATE = #{completeDate},
		PRECEDE_NO = #{precedeNo},
		COMPLETE_RATE = #{completeRate},
		GRANTOR_NO = #{grantorNo},
		WORK_LEVEL = #{workLevel},
		HIGH_WORK_NO = #{highWorkNo},
		MEMO = #{memo},
		WORK_TYPE = #{workType},
		MEMBER_NO = #{memberNo},
		WORK_STATUS = 'Y'
	WHERE WORK_NO = #{workNo}
	</update>
	
	<select id="selectGrantorList" parameterType="java.lang.String" resultMap="selectGrantorList">
		SELECT PT.MEMBER_PK, M.MEMBER_NAME, D.DEPT_NAME, R.RANK_NAME
		FROM PROJECT_TEAM PT
		JOIN MEMBER M ON (PT.MEMBER_PK = M.MEMBER_NO)
	    JOIN DEPT D ON (M.DEPT_NO = D.DEPT_NO)
	    JOIN RANK R ON (M.RANK_NO = R.RANK_NO)
		WHERE PROJECT_PK = #{pk}
		AND ROLE IN ('PM', 'PSM')
	</select>
	
	<insert id="insertWorkProduct" parameterType="WorkProductw">
	INSERT INTO WORK_PRODUCT
	VALUES('WP' || TO_CHAR(SEQ_WP.NEXTVAL, 'FM000'), #{workNo}, #{productType}, #{productTitle}, #{productContent}, SYSDATE, SYSDATE, DEFAULT)
	</insert>
	
	<insert id="insertWorkAttachment" parameterType="Attachment">
		INSERT INTO ATTACHMENT
		VALUES('AT'|| TO_CHAR(SEQ_AT_NO.NEXTVAL, 'FM000'), 'WP' || TO_CHAR(SEQ_WP.CURRVAL, 'FM000'), #{originName}, #{changeName} , #{filePath}, #{ext})
	</insert>
	
	<delete id="deleteWorkProduct" parameterType="java.lang.String">
	DELETE FROM ATTACHMENT
	WHERE AT_NO = #{atNo}
	
	</delete>
</mapper>










  