<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Work">

	<resultMap type="Work" id="workResultSet">
		<id property="workNo" column="WORK_NO"/>
		<result property="workName" column="WORK_NAME"/>
		<result property="status" column="STATUS"/>
		<result property="projectNo" column="PROJECT_NO"/>
		<result property="beginDate" column="BEGIN_DATE"/>
		<result property="completeDate" column="COMPLETE_DATE"/>
		<result property="precedeNo" column="PRECEDE_NO"/>
		<result property="completeRate" column="COMPLETE_RATE"/>
		<result property="grantorNo" column="GRANTOR_NO"/>
		<result property="workLevel" column="WORK_LEVEL"/>
		<result property="highWorkNo" column="HIGH_WORK_NO"/>
		<result property="memo" column="MEMO"/>
		<result property="workType" column="WORK_TYPE"/>
		<result property="memberNo" column="MEMBER_NO"/>
	</resultMap>

	<insert id="insertWork" parameterType="Work">
		INSERT INTO WORK
		VALUES('W' || TO_CHAR(SEQ_WNO.NEXTVAL, 'FM000'), #{workName}, #{status}, #{projectNo}, 
			   #{beginDate}, #{completeDate}, #{precedeNo}, #{completeRate}, #{grantorNo}, #{workLevel}, 
			   #{highWorkNo}, #{memo}, #{workType}, #{memberNo}) 
	</insert>
	

	<select id="selectWorkList" parameterType="Member" resultMap="workResultSet">
	SELECT *
	FROM WORK
	WHERE MEMBER_NO = #{memberNo}
	ORDER BY WORK_NO ASC
	</select>
	
	<select id="selectWork" parameterType="java.lang.String" resultMap="workResultSet">
	SELECT *
	FROM WORK
	WHERE WORK_NO = #{workNo}
	</select>

</mapper>










  