<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<settings>
  		<setting name="jdbcTypeForNull" value="NULL"/>
  	</settings>
  	<typeAliases>
  		<typeAlias type="com.kh.manage.member.model.vo.Member" alias="Member"/>
  		<typeAlias type="com.kh.manage.admin.adminManage.vo.Access" alias="Access"/>
		<typeAlias type="com.kh.manage.admin.adminManage.vo.DepartMent" alias="DepartMent"/>
  		<typeAlias type="com.kh.manage.admin.department.model.vo.Dept" alias="Dept"/>
  		<typeAlias type="com.kh.manage.admin.adminManage.vo.DeptMember" alias="DeptMember"/>
  		<typeAlias type="com.kh.manage.admin.adminManage.vo.AccessMember" alias="AccessMember"/>
  		<typeAlias type="com.kh.manage.admin.adminManage.vo.SelectAccessMember" alias="SelectAccessMember"/>
  		<typeAlias type="com.kh.manage.admin.rank.model.vo.Rank" alias="Rank"/>
  		<typeAlias type="com.kh.manage.project.model.vo.Project" alias="Project"/>
        <typeAlias type="com.kh.manage.project.model.vo.ProjectType" alias="ProjectType"/>
        <typeAlias type="com.kh.manage.admin.template.model.vo.Template" alias="Template"/>
        <typeAlias type="com.kh.manage.common.Attachment" alias="Attachment"/>
        <typeAlias type="com.kh.manage.admin.adminManage.vo.DeptHistory" alias="DeptHistory"/>
        <typeAlias type="com.kh.manage.admin.adminManage.vo.Menu" alias="Menu"/>
        <typeAlias type="com.kh.manage.forum.model.vo.Notice" alias="Notice"/>
        <typeAlias type="com.kh.manage.work.model.vo.Work" alias="Work"/>
        <typeAlias type="com.kh.manage.project.model.vo.ProjectTeam" alias="ProjectTeam"/>
        <typeAlias type="com.kh.manage.admin.adminManage.vo.MenuAccess" alias="MenuAccess"/>
        <typeAlias type="com.kh.manage.forum.model.vo.Notice" alias="Notice"/>
        <typeAlias type="com.kh.manage.forum.model.vo.Reply" alias="Reply"/>
        <typeAlias type="com.kh.manage.project.model.vo.ProjectList" alias="ProjectList"/>
        <typeAlias type="com.kh.manage.work.model.vo.WorkProjectName" alias="WorkProjectName"/>
        <typeAlias type="com.kh.manage.work.model.vo.WorkProjectTeam" alias="WorkProjectTeam"/>
        <typeAlias type="com.kh.manage.generalWork.model.vo.GeneralWork" alias="GeneralWork"/>
        <typeAlias type="com.kh.manage.infoBoard.model.vo.InfoBoard" alias="InfoBoard"/>
        <typeAlias type="com.kh.manage.project.model.vo.ProjectWork" alias="ProjectWork"/>
        <typeAlias type="com.kh.manage.gwManage.model.vo.GWork" alias="GWork"/>
        <typeAlias type="com.kh.manage.issue.model.vo.IssueWPT" alias="IssueWPT"/>
        <typeAlias type="com.kh.manage.chat.model.vo.ChatRoom" alias="ChatRoom"/>
        <typeAlias type="com.kh.manage.chat.model.vo.Message" alias="Message"/>
        <typeAlias type="com.kh.manage.chat.model.vo.ChatMessageList" alias="ChatMessageList"/>
        <typeAlias type="com.kh.manage.issue.model.vo.IssueWork" alias="IssueWork"/>
        <typeAlias type="com.kh.manage.issue.model.vo.IssueProjectTeam" alias="IssueProjectTeam"/>
        <typeAlias type="com.kh.manage.infoBoard.model.vo.BoReply" alias="BoReply"/>
  	</typeAliases>
  
  
  	<mappers>
  		<mapper resource="mappers/member-mapper.xml"/>
  		<mapper resource="mappers/admin-mapper.xml"/>
  		<mapper resource="mappers/dept-mapper.xml"/>
  		<mapper resource="mappers/rank-mapper.xml"/>
  		<mapper resource="mappers/project-mapper.xml"/>
  		<mapper resource="mappers/template-mapper.xml"/>
        <mapper resource="mappers/attachment-mapper.xml"/>
        <mapper resource="mappers/notice-mapper.xml"/>
        <mapper resource="mappers/work-mapper.xml"/>
        <mapper resource="mappers/notice-mapper.xml"/>
        <mapper resource="mappers/reply-mapper.xml"/>
        <mapper resource="mappers/generalWork-mapper.xml"/>
        <mapper resource="mappers/board-mapper.xml"/>
        <mapper resource="mappers/gWork-mapper.xml"/>
        <mapper resource="mappers/Issue-mapper.xml"/>
        <mapper resource="mappers/chat-mapper.xml"/>
  	</mappers>
  		
  
  </configuration>