<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<settings>
  		<setting name="jdbcTypeForNull" value="NULL"/>
  	</settings>
  	<typeAliases>
  		<typeAlias type="com.kh.manage.member.model.vo.Member" alias="Member"/>
  		<typeAlias type="com.kh.manage.admin.adminManage.vo.Access" alias="Access"/>
		<typeAlias type="com.kh.manage.admin.adminManage.vo.DepartMent" alias="DepartMent"/>
  		<typeAlias type="com.kh.manage.admin.department.model.vo.Dept" alias="Dept"/>
  		<typeAlias type="com.kh.manage.admin.adminManage.vo.DeptMember" alias="DeptMember"/>
  		<typeAlias type="com.kh.manage.admin.adminManage.vo.AccessMember" alias="AccessMember"/>
  		<typeAlias type="com.kh.manage.admin.adminManage.vo.SelectAccessMember" alias="SelectAccessMember"/>
  		<typeAlias type="com.kh.manage.admin.rank.model.vo.Rank" alias="Rank"/>
  		<typeAlias type="com.kh.manage.project.model.vo.Project" alias="Project"/>
        <typeAlias type="com.kh.manage.project.model.vo.ProjectType" alias="ProjectType"/>
        <typeAlias type="com.kh.manage.admin.template.model.vo.Template" alias="Template"/>
        <typeAlias type="com.kh.manage.common.Attachment" alias="Attachment"/>
  	</typeAliases>
  
  
  	<mappers>
  		<mapper resource="mappers/member-mapper.xml"/>
  		<mapper resource="mappers/admin-mapper.xml"/>
  		<mapper resource="mappers/dept-mapper.xml"/>
  		<mapper resource="mappers/rank-mapper.xml"/>
  		<mapper resource="mappers/project-mapper.xml"/>
  		<mapper resource="mappers/template-mapper.xml"/>
        <mapper resource="mappers/attachment-mapper.xml"/>
  	</mappers>
  		
  
  </configuration>